@{
    ViewBag.Title = "About";
}
<div id="page">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href='.'>
                        
                    </a>
                </div>
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "PITP")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="active">@Html.ActionLink("About Us", "about-us", "PITP")</li>
                                <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu pyu">
                                <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                                <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                                <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                        <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                        <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                                <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>
<div class="intro-block2 topblock">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="img/notes.png">
            </div>
            <div class="col-xs-9">
                <h1>About Us - <span class="text-muted qback">Back for 2016!</span></h1>
                <p class="lead">Despite the poor weather, 2016 witnessed the best <a href="@Url.Action("Index","PITP")">Party in the Park</a> to date!</p>
            </div>
        </div>
    </div>    
</div>
<!-- End Intro Text -->

<div class="container padded">
    <div class="row">
        <div class="col-sm-8 blog">
            <section>
                <h1 class="headtag">About Us</h1>
                <hr class="borback">
                <p><span class="glyphicon glyphicon-time"></span> Posted on Aug 27, 2016 at 11:00 AM</p>
                <hr class="borback">
                @*<img src="img/aboutus.png" class="img-responsive">*@
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video controls class="embed-responsive-item">
                        <source src="~/img/video-optimised.mp4" type="video/mp4">
                    </video>
                </div>
                <br/>
                <p>Party In the Park is an event organised by various community groups in the area around Fordham Park. The festival's 
                <a href="@Url.Action("origins", "PITP")">origins</a> can be traced back to the Deptford Urban Free Festival. Party in the Park is a community event 
                for all ages, with family events, arts and crafts, stalls, spoken word, as well as local bands and acts for all tastes from disco to reggae, punk rock, 
                soul and folk.</p>
                <p>In both @Html.ActionLink("2013", "pastevents", "pitp", null, null,"2013", null, null) and <a href = '@Url.Action("year2014", "PITP")' >2014</a> the 
                event provided a large range of food stalls, a New Cross Inn beer tent. 
                   <a href="http://www.madcapcoalition.org.uk/">MADCAP </a> entertained - providing games and competitions with lots of prizes. 
                The festival in 2014 had a health and well being "Detox city" area, and stalls that promoted the work of community projects such as, 
                <a href="http://www.buildthelenox.org/">The Lenox Project" Grow Wild</a>, and stalls that promoted the great work that housing co-operatives do.</p>
                <p>Local press coverage heralded both the events held in 2013 and 2014 as hugely successful. 
                To help with sponsorship please visit our <a href='@Url.Action("sponsors","PITP")'>sposorship page</a> or if you want to contact the events organisers, please use or <a href='@Url.Action("contact","PITP")'>contact form</a>.</p>
                <hr class="borback">
            </section>
            <section>
                <h1>Community Groups</h1>
                <p>Who organises the event?</p>
                <hr class="borback">
                <p><span class="glyphicon glyphicon-time"></span> Posted on Novemberl 15th, 2016 at 6:10 PM</p>
                <hr class="borback">
                <img src="img/blog2.jpg" class="img-responsive">
                <hr class="borback">

                <p>
                    A number of different community groups and local businesses collaborate to make Party In The Park happen. To date we have had a dedicated 
                    number of people directly involved with the events organisation. Planning for past festivals has involved a number of fund raisers. 
                    These events were successful in raising money for and promoting Party In The Park.
                </p> 
                <p>
                In the run up to this years event - we hosted a number of benefit events and gigs. These up and coming events are 
                vital for the funding and promotion of Party in the Park. Check out our "<a href='@Url.Action("Upandcoming", "PITP")'>
                Up and Coming</a>" events page, or follow us on <a href="https://www.facebook.com/PitpInthepark/" alt="pitp facebook link">
                Facebook</a> or <a href="https://twitter.com/pitpnxd" alt="pitp twitteer link">
                Twitter</a> to get up to date details.</p>

                <p>We particularly have had a lot of help from two organisations - New Cross Learning, and MadCap Coalition. Great live music has been provided by 
                Siren Sound and Reknaw, and we have had some great DJ's, such as Softwax.</p>                
            </section>
        </div>
        <div class="col-sm-4 sidebar">
            <section>
                <h3 class="tpad">Latest from Twitter</h3>
                <div class="media tpad">
                    @*<a class="pull-left" href="https://twitter.com/pitpnxd">
                        <img class="media-object" src="img/twitter.png" alt="user">
                    </a>*@
                    <div class="media-body">
                        <h4 class="media-heading">@@pitpnxd</h4>
                        <p class="bpad"><a class="twitter-timeline"  href="https://twitter.com/pitpnxd"  data-widget-id="486514106099175424">Tweets by @@pitpnxd</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</p>
                    </div>
                </div>
            
            </section>
        </div>
    </div>    
</div>    

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>
