@model PITP.Models.FormView
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section AddToHead {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   }
@section BodyClass {
    backgrey
}
<div id="page">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>

                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "PITP")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                        <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
                        <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                        <li>@Html.ActionLink("Donate", "donate", "PITP")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                        <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PITPNXD/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="intro-block2 topblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                    <img class="img-responsive tpad" src="~/img/2018/pitp-nodate.png">
                </div>
                <div class="col-xs-12 col-sm-9">
                    <h1 class="genh7">Party In The Park <span class="yell">&raquo; Sponsorship</span></h1>
                    <div class="genh6 well">
                        In order to fund Party in the Park 2018, we need your help!
                        In order to run the festival we need to raise <span class="fbl ">@ViewBag.GrandTotal</span>  - and are currently <b class="gred">@ViewBag.AmountNeeded</b> shy of this target.
                        For a full breakdown of the costs involved and to see information about our funders, visit our <a href='@Url.Action("sponsors", "PITP")'>sponsors page.</a>          

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container padded colgrey">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="genh6">Please help fund Party in the Park 2018!</h2>
            <hr class="borback">
            @using (Html.BeginForm("Donate", "PITP", FormMethod.Post, new { @class = "form-horizontal tpad", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <p>If you do not wish for your donation to remain anonymous, then please complete the Name field below:</p>
                    <div class="form-group tpad">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-lg-10 input-group">
                            <span class="input-group-addon"><i class="fa fa-user prefix"></i></span>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Anonymous" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 input-group">
                            <span class="input-group-addon"><i class="fa fa-money prefix"> £</i></span>
                            @Html.TextBoxFor(model => model.amount, new { @class = "form-control allownumericwithdecimal" })
                            @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger", placeholder = "price" })
                        </div>
                    </div>
                    
                    <p>If you wish, you may leave a message of support</p>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Message, new { @class = "control-label col-md-2" })
                        <div class="col-lg-10 input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil prefix"></i></span>
                            @Html.TextBoxFor(model => model.Message, new { @class = "form-control", @id = "messagefield", @maxlength = 50 })
                            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                        </div>
                        <div class="message-field">
                            <span id="charsLeft"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Send" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="col-sm-4 hidden-xs">
            <i class="fab fa-paypal fab2 fa-5x"></i><i class="fab fa-cc-visa fab2 fa-5x"></i><i class="fab fa-cc-mastercard fab2 fa-5x"></i><i class="fab fa-cc-amex fab2 fa-5x"></i>
        </div>
    </div>
</div>
<div class="intro-block">
    <div class="container">
        <div class="row slogo">
            <div class="col-sm-4 tabbable">
                <blockquote>
                    <p>&ldquo;This party is being organised by local people for local people and it’s also a celebration of local talent – And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
            <div class="col-sm-2">
                <img src="~/img/slogo/composite.png" class="img-responsive" alt="sponsors logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $("#messagefield").keyup(function () {
                var charsLeft = $(this).attr("maxlength") - $(this).val().length;
                $("#charsLeft").text(charsLeft + " characters left");
            });

            $(".allownumericwithdecimal").keydown(function (event) {


                if (event.shiftKey == true) {
                    event.preventDefault();
                }

                if ((event.keyCode >= 48 && event.keyCode <= 57) || 
                    (event.keyCode >= 96 && event.keyCode <= 105) || 
                    event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                    event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

                } else {
                    event.preventDefault();
                }

                if($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                    event.preventDefault(); 
                //if a decimal has been added, disable the "."-button

            });

        });
    </script>
}








