@{
    ViewBag.Title = "Home Page";
}

@section AddToHead {
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
}
@section BodyClass { bodyblue
}

<div class="nwrap splashbd">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "PITP")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                        <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
                        <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                        <li>@Html.ActionLink("Donate", "donate", "PITP")</li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                        <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PITPNXD/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container finhome">
        <div class="row blcol2">
            <div class="col-sm-10">
                <img src="~/img/2018/pitpnxd-logo.png" class="img-responsive pull-right" />
            </div>
            <div class="col-sm-2" />
                <div class="donate">
                    <a href='@Url.Action("donate", "PITP")' class="ppal2">
                        <i class="fab fa-paypal"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i>
                        <input type="submit" value="PLEASE DONATE!" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-ppark animated tada">
                    </a>
                </div>
            </div>

            <div class="col-sm-11 col-sm-offset-1 festintro">
                <p class="genh44"><span class="fbl">fordham park </span><span class="fyell">sat 1st september 2018</span> 12 noon - 8pm</p>
            </div>
            <div class="val1 genh8">
                <div class="col-sm-6 col-md-4">
                    <div class="lin-title">
                        <span class="wr9">wango riley's</span><span class="ts9">travelling stage</span><span class="pf92">powered by flipside</span>
                    </div>
                    <div class="lin-section">
                        <span class="thebrou">the brouhaha</span>
                        <span class="stretch">y-bot</span>
                        <span class="stretch4">m<span class="meu">e</span>u</span>
                        <span class="magic">the magic <span class="city">city trio</span></span>
                        <span class="nosebleed">nosebleed</span>
                        <span class="cjon">cracker jon</span>
                        <span class="thefour">the four <span class="fathers">fathers</span></span>
                        <span class="slapped">who slapped john</span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="lin-title">
                        <span class="wr91">black star</span><span class="ts91">caravan stage</span><span class="pf9">blackstarcaravan.info</span>
                    </div>
                    <div class="lin-section">
                        <span class="damidge">damidge</span>
                        <span class="meinhof">meinhof</span>
                        <span class="phobics">the phobics</span>
                        <span class="hotdog">hotdoggirrrl<span class="sesame">and the sesame buns</span></span>
                        <span class="babar">babar luck</span>
                        <span class="militant">militant<span class="girlfriend">girlfriend</span></span>
                        <span class="gimmick">4 gimmick</span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="lin-title">
                        <span class="wr92">siren stage</span><span class="ts92">powered by siren</span><span class="pf91">sound system</span>
                    </div>
                    <div class="lin-section">
                        <span class="sister">my bad sister</span>
                        <span class="everyday">everyday junglist</span>
                        <span class="tribazik">tribazik</span>
                        <span class="busta">busta widemove</span>
                        <span class="killdren">killdren</span>
                        <span class="siren">siren</span>
                        <span class="doghouse">doghouse</span>
                        <span class="hovis">mr hovis</span>
                        @*<span class="dj1" style="color:#222;">dj's</span>*@       
                        <span class="holly">holly flo lightly<span class="minx">and minx with dj lusinda</span></span>             
                        <span class="bustamuff">bustamuff</span>
                        <span class="shapebuster">dj shapebuster</span>
                    </div>
                </div>
                <div class="col-xs-12 genh44">
                    <p class="spower">also: soul power international sound system</p>
                </div>
                <div class="col-xs-12 genh444">
                    <p><span class="fyell">comperes:</span>kimberley walker <span style="color:#222;">shina shihoko nagai </span><span class="fyell">ph7</span></p>
                </div>
                <div class="col-xs-12 genh444">
                    <p style="color:#222;margin-top:2rem;">plus:</p>
                </div>
                <div class="col-xs-12 genh444">
                    <p><a href='@Url.Action("tentcity", "PITP")'>TENT CITY</a> - HOUSING DISCUSSIONS/WORKSHOPS ON</p>
                    <p>ISSUES AFFECTING THE LOCAL COMMUNITY</p>
                </div>
                <div class="col-xs-12 genh444">
                    <p class="fyell">WELLNESS AREA WITH YOGA, TAI CHI, BUDDHIST CHANTING</p>
                    <p class="fyell">AND YOGA-BOX (A FUSION MIXING YOGA AND BOXING!)</p>
                </div>
                <div class="col-xs-12 genh444">
                    <p>ART GALLERY, WORKSHOPS AND LIVE ART BY RANDOM ARTISTS</p>
                    <p class="bred">BAR, FOOD AND STALLS AREA & MORE!!!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container nfit">
        <div class="col-xs-12 col-md-5 col-md-offset-1 blcol3">
            <h2 class="genh">Back for 2018!</h2>
            <img src="~/img/2018/back-for-y2018.png" class="center-block img-responsive" />
            <p>Building on the successes of the events held in previous years Party in the Park is back for 2018.</p>
            <p>Providing a free summer festival for the Deptford and New Cross Community we aim to deliver our best party yet, but we need your help!</p>
            <span class="ppal4"><i class="fab fa-paypal"></i><i class="fab fa-cc-visa"></i><i class="fab fa-cc-mastercard"></i><i class="fab fa-cc-amex"></i></span>

            <a href='@Url.Action("donate", "PITP")' class="ppal2">
                <input type="submit" value="PLEASE DONATE!" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-ppark animated tada">
            </a>
            @*<p>The focus and theme of this year’s festival is the issue of housing.</p>
                <p>Drawing upon the <a href='@Url.Action("tentcity", "PITP")'>'Tent City'</a> event hosted at Party in the Park in 2016 we are <a href='@Url.Action("tentcity", "PITP")'>currently inviting local groups</a> to participate and contribute to a debate on the housing crisis that the community is facing.</p>
                <p>We will of course provide a great day of live music and performance - A mix of pop, punk, reggae, folk and techno and much more. </p>
                <p>With a special health and well being area, community arts and crafts stalls and family entertainment, this year’s Party in the Park is sure to be our best to date.   </p>*@
        </div>
        <div class="col-xs-12 col-md-5 col-md-offset-1 blcol3">
            <p class="padtarget">
                In order to run the festival we need to raise @ViewBag.GrandTotal  - and are currently <b>@ViewBag.AmountNeeded</b> shy of this target.
                For a full breakdown of the costs involved and to see information about our funders, visit our <a href='@Url.Action("sponsors", "PITP")'>sponsors page.</a>
            </p>
        </div>
        </div>
    <div class="container aw">
        <div class="col-xs-12 col-md-8">
            <h3 class="genh2">List of Donors</h3>
            @{ Html.RenderAction("getsponsors", "pitp"); }

        </div>
        <div class="col-xs-12 col-md-4 padded">
            <span class="ppal4"><i class="fab fa-paypal fab2"></i><i class="fab fa-cc-visa fab2"></i><i class="fab fa-cc-mastercard fab2"></i><i class="fab fa-cc-amex fab2"></i></span>
            <a href='@Url.Action("donate", "PITP")' class="ppal2">
                <input type="submit" value="PLEASE DONATE!" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-ppark animated tada">
            </a>
            <p class="genh6 paddedhalf">your donations will help with the costs of putting on the festival. <span class="gred">please give generously</span></p>
        </div>
    </div>
    <div class="container divup">

        <div class="container" id="band">
            <div class="row">
                <div class="col-sm-12">
                    <h2  class="genh44"><span class="fbl">2018 Band line up</span> <span style="font-size:40%">(click on the stage name to see the days band line up)</span></h2>
                    <hr class="borback">

                </div>
            </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 tabbable">
                            <!-- Tabs go here -->
                            <ul id="myTab" class="nav nav-tabs genh6">
                                <li class="active"><a href="#android" data-toggle="tab">WANGO  RILEY’S</a></li>
                                <li><a href="#bb" data-toggle="tab">Black  Star  Caravan</a></li>
                                <li><a href="#ios" data-toggle="tab">SIREN  SOUND</a></li>
                            </ul>
                            <div class="tab-content genh5">
                                <div class="tab-pane fade in active" id="android">
                                    <ul class="list-unstyled tabup">
                                        <li>12:15 – Who Slapped John </li>
                                        <li>1.15 – Four Fathers</li>
                                        <li>2.15 – Cracker Jon</li>
                                        <li>3.15 – Nosebleed</li>
                                        <li>4.15 – Magic City Trio</li>
                                        <li>5.15 – MeU</li>
                                        <li>6.15 – Y-Bot</li>
                                        <li>7.15 – The Brouhaha</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade in" id="bb">
                                    <ul class="list-unstyled tabup">
                                        <li>12:30 – 4 Gimmick</li>
                                        <li>1.30 – Militant Girlfriend</li>
                                        <li>2.30 – BarBar Luck</li>
                                        <li>3.30 – Hotdoggirrrl and the sesame buns</li>
                                        <li>4.30 – The Phobics</li>
                                        <li>5.30 – Meinhof</li>
                                        <li>6.30 – Damidge</li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade in" id="ios">
                                    <ul class="list-unstyled tabup">
                                        <li>12:30 – DJ Shape Buster</li>
                                        <li>1.15 – Bustamuff</li>
                                        <li>2.00 – HOLLY  FLO  LIGHTLYAND  MINX  WITH  DJ  LUSINDA</li>
                                        <li>2.45 - Mr Hovis</li>
                                        <li>3.20 – Doghouse</li>
                                        <li>4.00 – Siren</li>
                                        <li>4.15 – Killdren</li>
                                        <li>5.00 – BUSTAWIDEMOVE</li>
                                        <li>5.40 – Tribazik</li>
                                        <li>6.30 – EVERYDAY  JUNGLIST</li>
                                        <li>7.10 – MY  BAD  SISTER</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        <div align="center" class="embed-responsive embed-responsive-16by9">
            <video controls class="embed-responsive-item" poster="~/img/2018/logo-poster.png">
                <source src="~/img/partyintheparkvid2018.mp4" type="video/mp4">
            </video>
        </div>
        <div class="row mb">
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("about-us", "PITP")'>
                        <img class="img-thumbnail img-responsive" src="img/fr2.png">
                    </a>
                    <h3 class="genh5 sh"><a href='@Url.Action("about-us", "PITP")'>About Us</a></h3>
                    <p>
                        Party in the Park in Deptford, is a great free festival providing music and entertainment for the New Cross and Deptford communities -
                        with a large number of brilliant diverse performers.
                        Party In the Park is now a biannual event organised by various community groups in the area around Fordham Park.
                    </p>
                    <p class="indlink">We have successfully held festivals in 2013, 2014, and despite the rain, on Saturday September 3rd <a href='@Url.Action("year2016", "PITP")'>2016</a> we hosted our best festival to date.</p>
                    <p>
                        The festival is run by a number of dedicated volunteers that give their free time to organise the event.
                        However, Party in the Park is only possible as a result of the financial contributions from you the community.
                    </p>
                    <p>In order to run the festival we need to raise @ViewBag.GrandTotal - For a full breakdown of the costs involved and to see information about our funders, visit our <a href='@Url.Action("sponsors", "PITP")'>sponsors page.</a></p>
                    <p><a href='@Url.Action("about-us", "PITP")' class="btn btn-default">Read More &raquo;</a></p>
                    <p class="genh5">your donations will help with the costs of putting on the festival. <span class="fyell">please give generously</span></p>
                    <a href='@Url.Action("donate", "PITP")' class="ppal2">
                        <i class="fab fa-paypal fab2"></i><i class="fab fa-cc-visa fab2"></i><i class="fab fa-cc-mastercard fab2"></i><i class="fab fa-cc-amex fab2"></i>
                        <input type="submit" value="PLEASE DONATE!" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-ppark animated tada">
                    </a>
                </div>
            </section>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("Upandcoming", "PITP")'>
                        <img class="img-thumbnail img-responsive" src="img/fr1.png">
                    </a>
                    <h3 class="genh5 sh"><a href='@Url.Action("Upandcoming", "PITP")'>Up and Coming Events</a></h3>
                    <p>
                        Over recent years we have held a number of events in order to support Party in the Park. As fund raisers, these events go a long
                        way to help us fund future festivals.
                    </p>
                    <p class="indlink">
                        The festival to date has been financed on a shoe string budget and relies on the dedication of a number of committed volunteers.
                        We are planning a number of benefit gigs to help fund Party in the Park 2018. Watch this space for details of <a href='@Url.Action("Upandcoming", "PITP")'>up and coming events</a>, or
                        follow us on <a href="https://twitter.com/pitpnxd" alt="pitp twitteer link">twitter</a> and <a href="https://www.facebook.com/PitpInthepark/" alt="pitp facebook link">facebook</a>.
                    </p>
                    <p><a href='@Url.Action("Upandcoming", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                </div>
            </section>
            <div class="clearfix hidden-md hidden-lg"></div>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("year2014", "PITP")'><img class="img-thumbnail img-responsive" src="img/fr3.png"></a>
                    <h3 class="genh5 sh"><a href='@Url.Action("year2014", "PITP")'>Past Events</a></h3>
                    <p class="indlink"><a href='@Url.Action("year2014", "PITP")'>In 2014</a> Party in the Park held a very successful event in Fordham Park, Deptford. Blessed by good weather, the festival provided a great day out for all who attended. The event’s organisers first came together to help deliver the festival in <a href="@Url.Action("2013", "PITP")" title="party in the park 2013">2013</a> and building upon this, worked together again to deliver an even bigger and better event.</p>
                    <p><a href='@Url.Action("year2014", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <p class="indlink">In order to help pay for Party in the Park a number of fund raisers have been successfully held in the past. We intend to put on more <a href='@Url.Action("Upandcoming", "PITP")'>Up and Comming Events page</a> in order to help pay for the fesival this summer.</p>
                </div>
            </section>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("volunteer", "PITP")'><img class="img-thumbnail img-responsive" src="img/fr4.png"></a>
                    <h3 class="genh5 sh"><a href='@Url.Action("volunteer", "PITP")'>Volunteers</a></h3>
                    <p class="indlink">
                        The people who are currently making this possible are a very small group of very dedicated people - but there's only so much they can do and
                        the organisers are still looking for volunteers: contact
                        <br />
                        <a href="mailto:vols@pitpnxd.co.uk" target="_blank">vols@pitpnxd.co.uk</a>
                        <br />
                        If you wish to help to contact the organisers of Party in the Park
                        please <a href='@Url.Action("contact", "PITP")'>get in touch</a>
                    </p>
                    <p><a href='@Url.Action("volunteer", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <h3 class="genh5 sh"><a href='@Url.Action("sponsors", "PITP")'>Sponsorship</a></h3>
                    <p>Last year a number of different business and organisation helped support this community event.</p>
                    <p>We are looking for sponsorship for Party in the Park 2018 - please help!</p>
                    <p><a href='@Url.Action("sponsors", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <a href='@Url.Action("donate", "PITP")' class="ppal4">
                        <i class="fab fa-paypal fab2"></i><i class="fab fa-cc-visa fab2"></i><i class="fab fa-cc-mastercard fab2"></i><i class="fab fa-cc-amex fab2"></i>
                        <input type="submit" value="PLEASE DONATE!" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-ppark animated tada">
                    </a>
                </div>
            </section>
        </div>
    </div>
    <div class="intro-block">
        <div class="container">
            <div class="row slogo">
                <div class="col-sm-4 tabbable">
                    <blockquote>
                        <p>&ldquo;This party is being organised by local people for local people and it’s also a celebration of local talent – And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                        <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                    </blockquote>
                </div>
                <div class="col-sm-4">
                    <!-- Quote go here -->
                    <blockquote>
                        <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                        <small class="qback">R.McFarlane</small>
                    </blockquote>
                </div>
                <div class="col-sm-2">
                        <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
                </div>
                <div class="col-sm-2"> 
                        <img src="~/img/slogo/composite.png" class="img-responsive" alt="sponsors logo" />
                </div>
            </div>
            <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
        </div>
    </div>
</div>

@section scripts
{
    @*<script src="~/Scripts/Common.js"></script>*@
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">

        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
                return this;
            }
        });


        $(document).ready(function () {
            $('#yourElement').animateCss('pulse', function () {
                // Do somthing after animation
            });

            // sponsors table
            $('#myTable').DataTable({
                searching: false,
                ordering: true
            });
            //$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            //    var target = $(e.target).attr("href") // activated tab
            //    alert(target);

                
            //    $('#band').css({ "background": "url('../img/skyline.png') repeat-x scroll center bottom #FFA753" });


            //});
        });
    </script>
}
