@{
    ViewBag.Title = "Home Page";
}
@section AddToHead {
	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      <!-- #map { -->
        <!-- height:100%; -->
		<!-- width:100%; -->
      <!-- } -->
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      /* The location pointed to by the popup tip. */
      .popup-tip-anchor {
        height: 0;
        position: absolute;
        /* The max width of the info window. */
        width: 400px;
      }
      /* The bubble is anchored above the tip. */
      .popup-bubble-anchor {
        position: absolute;
        width: 100%;
        bottom: /* TIP_HEIGHT= */ 8px;
        left: 0;
      }
      /* Draw the tip. */
      .popup-bubble-anchor::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        /* Center the tip horizontally. */
        transform: translate(-50%, 0);
        /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
        width: 0;
        height: 0;
        /* The tip is 8px high, and 12px wide. */
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: /* TIP_HEIGHT= */ 8px solid white;
      }
      /* The popup bubble itself. */
      .popup-bubble-content {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -100%);
        /* Style the info window. */
        background-color: #fff200;
        padding: 5px;
        border-radius: 5px;
        font-family: sans-serif;
        overflow-y: auto;
        max-height: 200px;
        box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
      }
	  #content{
		text-align:center;
	  }
	  
	  /* Google maps card styles - COPIED */
.gm-style .place-card div,
.gm-style .place-card a,
.gm-style .default-card div,
.gm-style .default-card a {
  color: #5B5B5B;
  font-family: Roboto, Arial;
  font-size: 12px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text
}

.gm-style .place-card,
.gm-style .default-card,
.gm-style .directions-card {
  cursor: default
}

.gm-style .place-card-large {
  padding: 9px 4px 9px 11px
}

.gm-style .place-card-medium {
  width: auto;
  padding: 9px 11px 9px 11px
}

.gm-style .default-card {
  padding: 5px 14px 5px 14px
}

.gm-style .place-card a:link,
.gm-style .default-card a:link,
.gm-style .directions-card a:link {
  text-decoration: none;
  color: #3a84df
}

.gm-style .place-card a:visited,
.gm-style .default-card a:visited,
.gm-style .directions-card a:visited {
  color: #3a84df
}

.gm-style .place-card a:hover,
.gm-style .default-card a:hover,
.gm-style .directions-card a:hover {
  text-decoration: underline
}

.gm-style .place-desc-large {
  width: 200px;
  display: inline-block
}

.gm-style .place-desc-medium {
  display: inline-block
}

.gm-style .place-card .place-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 14px;
  color: black
}

html[dir="rtl"] .gm-style .place-name {
  padding-right: 5px
}

.gm-style .place-card .address {
  margin-top: 6px
}

.gm-style .tooltip-anchor {
  width: 100%;
  position: relative;
  float: right;
  z-index: 1
}

.gm-style .star-entity .tooltip-anchor,
.gm-style .star-entity-medium .tooltip-anchor,
.gm-style .navigate-entity-medium .tooltip-anchor,
.gm-style .navigate .tooltip-anchor {
  width: 50%;
  display: none
}

.gm-style .star-entity:hover .tooltip-anchor,
.gm-style .star-entity-medium:hover .tooltip-anchor,
.gm-style .navigate-entity-medium:hover .tooltip-anchor,
.gm-style .navigate:hover .tooltip-anchor {
  display: inline
}

.gm-style .tooltip-anchor>.tooltip-tip-inner,
.gm-style .tooltip-anchor>.tooltip-tip-outer {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  background-color: transparent;
  position: absolute;
  left: -8px
}

.gm-style .tooltip-anchor>.tooltip-tip-outer {
  border-bottom: 8px solid #CBCBCB
}

.gm-style .tooltip-anchor>.tooltip-tip-inner {
  border-bottom: 8px solid white;
  z-index: 1;
  top: 1px
}

.gm-style .tooltip-content {
  position: absolute;
  top: 8px;
  left: -70px;
  line-height: 137%;
  padding: 10px 12px 10px 13px;
  width: 210px;
  margin: 0;
  border: 1px solid #CBCBCB;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: white
}

html[dir="rtl"] .gm-style .tooltip-content {
  left: -10px
}

.gm-style .star-entity-medium .tooltip-content {
  width: 110px
}

.gm-style .navigate {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  padding: 0 7px
}

.gm-style .navigate-entity-medium {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-top: 1px
}

.gm-style .navigate-link {
  display: block
}

.gm-style .place-card .navigate-text,
.gm-style .place-card .star-entity-text {
  margin-top: 5px;
  text-align: center;
  color: #3a84df;
  font-size: 12px;
  max-width: 55px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.gm-style .place-card .hidden {
  margin: 0;
  padding: 0;
  height: 0;
  overflow: hidden
}

.gm-style .navigate-icon {
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .navigate-icon {
  border: 0
}

.gm-style .navigate-separator {
  display: inline-block;
  width: 1px;
  height: 43px;
  vertical-align: top;
  background: -webkit-linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb);
  background: -moz-linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb);
  background: -ms-linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb);
  background: -linear-gradient(top, #fbfbfb, #e2e2e2, #fbfbfb)
}

.gm-style .star-entity {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  padding: 0 7px
}

.gm-style .star-entity .star-button {
  cursor: pointer
}

.gm-style .navigate-entity .navigate-button {
  cursor: pointer
}

.gm-style .star-entity-medium {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-top: 1px
}

.gm-style .star-entity:hover .star-entity-text {
  text-decoration: underline
}

.gm-style .star-entity-icon-large {
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .star-entity-icon-medium {
  width: 17px;
  height: 17px;
  top: 0px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .navigate-entity-icon-medium {
  width: 17px;
  height: 17px;
  top: 0px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-large {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .logged-out-star,
.logged-out-star:hover {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .is-starred-large {
  position: relative;
  cursor: pointer;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-medium {
  position: relative;
  height: 17px;
  top: -2px;
  cursor: pointer
}

.gm-style .is-starred-medium {
  position: relative;
  height: 17px;
  top: -2px;
  cursor: pointer
}

.gm-style .navigate-icon-medium {
  position: relative;
  height: 17px;
  top: -2px;
  cursor: pointer
}

.gm-style .review-box {
  padding-top: 5px
}

.gm-style .place-card .review-box-link {
  padding-left: 8px
}

.gm-style .place-card .review-number {
  display: inline-block;
  color: #e7711b;
  font-weight: 500;
  font-size: 14px
}

.gm-style .rating-star {
  display: inline-block;
  width: 11px;
  height: 11px;
  overflow: hidden
}

.gm-style .directions-card {
  color: #5B5B5B;
  font-family: Roboto, Arial;
  background-color: white;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text
}

.gm-style .directions-card-medium-large {
  height: 71px;
  padding: 10px 11px
}

.gm-style .directions-info {
  padding-left: 25px
}

.gm-style .directions-waypoint {
  height: 20px
}

.gm-style .directions-address {
  font-weight: 400;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black
}

.gm-style .directions-icon {
  float: left;
  vertical-align: top;
  padding-top: 2px;
  height: 50px;
  width: 20px
}

.gm-style .directions-icon div {
  width: 15px;
  height: 45px;
  overflow: hidden
}

.gm-style .directions-separator {
  position: relative;
  height: 1px;
  margin-top: 3px;
  margin-bottom: 4px;
  background-color: #ccc
}

.gm-style .maps-links-box-exp {
  padding-top: 5px
}

.gm-style .time-to-location-info-exp {
  padding-right: 10px;
  border-right: 1px solid #ccc;
  margin-right: 10px;
  display: inline-block
}

.gm-style .google-maps-link-exp {
  display: inline-block;
  vertical-align: middle
}

.gm-style .time-to-location-text-exp {
  vertical-align: middle
}

.gm-style .place-card-large .only-visible-to-you-exp {
  padding-top: 5px;
  color: #ccc;
  display: inline-block
}

.gm-style .place-card-large .time-to-location-privacy-exp .learn-more-exp {
  color: #ccc;
  text-decoration: underline
}

.gm-style .navigate-icon {
  background-position: 0px 0px
}

.gm-style .navigate:hover .navigate-icon {
  background-position: 48px 0px
}

.gm-style .navigate-icon-medium {
  background-position: 0px 94px
}

.gm-style .navigate-icon-medium:hover {
  background-position: -16px 94px
}

.gm-style .can-star-large {
  background-position: 70px 187px
}

.gm-style .star-button:hover .can-star-large {
  background-position: 48px 187px
}

.gm-style .logged-out-star {
  background-position: 96px 187px
}

.gm-style .star-button:hover .logged-out-star {
  background-position: 96px 187px
}

.gm-style .is-starred-large {
  background-position: 0px 166px
}

.gm-style .rating-full-star {
  background-position: 48px 165px
}

.gm-style .rating-half-star {
  background-position: 35px 165px
}

html[dir="rtl"] .gm-style .rating-half-star {
  background-position: 10px 165px
}

.gm-style .rating-empty-star {
  background-position: 23px 165px
}

.gm-style .directions-icon {
  background-position: 0px 144px
}

.gm-style .hovercard-personal-icon-home {
  background-position: 96px 102px
}

.gm-style .hovercard-personal-icon-work {
  background-position: 96px 79px
}

.gm-style .can-star-medium {
  background-position: 0px 36px
}

.gm-style .can-star-medium:hover {
  background-position: -17px 36px
}

.gm-style .logged-out-star-medium {
  background-position: 36px 36px
}

.gm-style .star-button:hover .logged-out-star-medium {
  background-position: 36px 36px
}

.gm-style .is-starred-medium {
  background-position: 0px 19px
}

.gm-style .info {
  height: 30px;
  width: 30px;
  background-position: 19px 36px
}

.saved-from-source-link {
  margin-top: 5px;
  max-width: 331px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.gm-style .drive-icon-exp {
  background-position: -90px -62px;
  display: inline-block;
  width: 18px;
  height: 16px;
  overflow: hidden;
  margin: 0 auto;
  margin-right: 5px;
  vertical-align: middle
}

.gm-style .star-entity-icon-large-exp {
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-large-exp {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .logged-out-star-exp,
.logged-out-star-exp:hover {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .is-starred-large-exp {
  position: relative;
  cursor: pointer;
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .can-star-large-exp {
  background-position: -46px -46px
}

.gm-style .star-button-exp:hover .can-star-large-exp {
  background-position: -2px -46px
}

.gm-style .logged-out-star-exp {
  background-position: -46px -91px
}

.gm-style .star-button-exp:hover .logged-out-star-exp {
  background-position: -2px -46px
}

.gm-style .is-starred-large-exp {
  background-position: -2px -91px
}

.gm-style .star-button-exp {
  position: absolute;
  right: -10px
}

.gm-style .star-entity-exp .star-button-exp {
  cursor: pointer
}

.gm-style .navigate-icon-exp {
  width: 42px;
  height: 42px;
  overflow: hidden;
  margin: 0 auto
}

.gm-style .navigate-icon-exp {
  border: 0
}

.gm-style .navigate-icon-exp {
  background-position: -46px -1px
}

.gm-style .navigate:hover .navigate-icon-exp {
  background-position: -2px -1px
}

.gm-style .navigate-exp {
  display: inline-block;
  vertical-align: top;
  height: 43px;
  padding: 0 7px;
  position: absolute;
  right: -18px
}

.gm-style .icon {
  background-image: url(https://maps.gstatic.com/mapfiles/embed/images/entity11.png);
  background-size: 70px 210px;
}
    </style>

}
<div class="splash fade-in">
    <div class="row wrapper">
        <div class="col-sm-12 agm1">
            <img src="~/img/2018/pitp-2018.png" class="center-block img-responsive" alt="pitp presenting" />
        </div>
        <div class="col-sm-12 agm2">
            <img src="~/img/2018/back-for-2018.png" class="center-block img-responsive ba" alt="rhizome" />
			<img src="~/img/2018/ford-2018.png" class="center-block img-responsive" alt="rhizome" />
        </div>
    </div>
    <a href="#" class="splash-arrow fade-in"><img src="img/down-arrow.png" alt="" /></a>
</div>
<div class="nwrap">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "PITP")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li><li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container intro-block6">
        <div class="row sten">
            <div class="col-xs-12 col-md-6">
                <p>come join us for <span class="bl">a Party in the Park</span> fund raiser at <span class="bl">Vinyl Deptford</span> </p>
                <p><img src="~/img/gigs/rhizome.png" class="center-block img-responsive" alt="rhizome" /></p>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 pull-right">
                <p class="gl" id="agmgl"><img src="~/img/agm-glasses.png" class="img-responsive" alt="party in the park logo" /></p>
                <p class="anpulse" id="music">"Dirty</p>
                <p class="anpulse" id="rd"><span class="bl">Deptford</span></p>
                <p class="anpulse" id="ass">Machine</p>
                <p class="anpulse" id="ref">Jazz"</p>
            </div>
        </div>
        <div class="row sten">
            <div class="col-xs-6 tpad">
                <p class="stensmall">Sunday May 27th | 2-8pm</p>
            </div>
			<div class="col-xs-6 tpad">
                <p class="stensmall">Vinyl Deptford &#8226; 4 Tanner's Hill, London SE8 4PJ</p>
            </div>
        </div>
    </div>

    <!-- End Intro Text -->
    <!-- <div class="map"> -->
        <!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.098547962865!2d-0.02814418398064883!3d51.47470537962984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602f50bac2bbb%3a0xf276f90916a42f89!2svinyl+deptford!5e0!3m2!1sen!2suk!4v1525109375169" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe><br /> -->
    <!-- </div> -->
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-12"> -->
                <!-- <small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2485.098547962865!2d-0.02814418398064883!3d51.47470537962984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487602f50bac2bbb%3a0xf276f90916a42f89!2svinyl+deptford!5e0!3m2!1sen!2suk!4v1525109375169" style="color:#0000ff;text-align:left">view larger map</a></small> -->
            <!-- </div> -->
        <!-- </div> -->
    <!-- </div> -->
	<div id="map"class="map"></div>
    <div id="content">
      <img src="/img/2018/rh-icon2.png" alt="sdf" />
	  <p>Vinyl Deptford</p>
	  <p style="font-weight:bold">Sunday May 27th | 2-8pm</p>
    </div>


    <div class="container" id="hmsects">
        <div class="row">
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("about-us", "PITP")'>
                        <img class="img-circle img-responsive" src="img/hround1.png">
                    </a>
                    <h3 class="stensmall sh"><a href='@Url.Action("about-us", "PITP")'>About Us</a></h3>
                    <p>
                        Party in the Park in Deptford, is a great free festival providing music and entertainment for the New Cross and Deptford communities -
                        with a large number of brilliant diverse performers.
                        Party In the Park is now a biannual event organised by various community groups in the area around Fordham Park.
                    </p>
                    <p class="indlink">We have successfully held festivals in 2013, 2014, and despite the rain, on Saturday September 3rd <a href='@Url.Action("year2016", "PITP")' >2016</a> we hosted our best festival to date.</plass="indlink">
                    <p><a href='@Url.Action("about-us", "PITP")' class="btn btn-default">Read More &raquo;</a></p>
                </div>
            </section>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("Upandcoming", "PITP")'>
                        <img class="img-circle img-responsive" src="img/hround4.png">
                    </a>
                    <h3 class="stensmall sh"><a href='@Url.Action("Upandcoming", "PITP")'>Up and Coming Events</a></h3>
                    <p>
                        Over recent years we have held a number of events in order to support Party in the Park. As fund raisers, these events go a long
                        way to help us fund future festivals.
                    </p>
                    <p class="indlink">
                        The festival to date has been financed on a shoe string budget and relies on the dedication of a number of committed volunteers.
                        We are planning a number of benefit gigs to help fund Party in the Park 2018. Watch this space for details of <a href='@Url.Action("Upandcoming", "PITP")'>up and coming events</a>, or
                        follow us on <a href="https://twitter.com/pitpnxd" alt="pitp twitteer link">twitter</a> and <a href="https://www.facebook.com/PitpInthepark/" alt="pitp facebook link">facebook</a>.
                    </p>
                    <p><a href='@Url.Action("Upandcoming", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                </div>
            </section>
            <div class="clearfix hidden-md hidden-lg"></div>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("year2014", "PITP")'><img class="img-circle img-responsive" src="img/hround3.png"></a>
                    <h3 class="stensmall sh"><a href='@Url.Action("year2014", "PITP")'>Past Events</a></h3>
                    <p class="indlink"><a href='@Url.Action("year2014", "PITP")'>In 2014</a> Party in the Park held a very successful event in Fordham Park, Deptford. Blessed by good weather, the festival provided a great day out for all who attended. The event’s organisers first came together to help deliver the festival in <a href="@Url.Action("2013", "PITP")" title="party in the park 2013">2013</a> and building upon this, worked together again to deliver an even bigger and better event.</p>
                    <p><a href='@Url.Action("year2014", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <p class="indlink">In order to help pay for Party in the Park a number of fund raisers have been successfully held in the past. We intend to put on more <a href='@Url.Action("Upandcoming", "PITP")'>Up and Comming Events page</a> in order to help pay for the fesival this summer.</p>
                </div>
            </section>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <a href='@Url.Action("volunteer", "PITP")'><img class="img-circle img-responsive" src="img/hround2.png"></a>
                    <h3 class="stensmall sh"><a href='@Url.Action("volunteer", "PITP")'>Volunteers</a></h3>
                    <p class="indlink">
                        The people who are currently making this possible are a very small group of very dedicated people - but there's only so much they can do and
                        the organisers are still looking for volunteers: contact
                        <br />
                        <a href="mailto:vols@pitpnxd.co.uk" target="_blank">vols@pitpnxd.co.uk</a>
                        <br />
                        If you wish to help to contact the organisers of Party in the Park
                        please <a href='@Url.Action("contact", "PITP")'>get in touch</a>
                    </p>
                    <p><a href='@Url.Action("volunteer", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <h3>Sponsorship</h3>
                    <p>Last year a number of different business and organisation helped support this community event.</p>
                    <p>We are looking to attain sponsorship for Party in the Park 2018. This could be a great oppurtunity for your business to help support and promote itself within the community.</p>
                    <p><a href='@Url.Action("sponsors", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                </div>
            </section>
        </div>
    </div>

    <div class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 tabbable">
                    <blockquote>
                        <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                        <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                    </blockquote>
                </div>
                <div class="col-sm-4">
                    <!-- Quote go here -->
                    <blockquote>
                        <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                        <small class="qback">R.McFarlane</small>
                    </blockquote>
                </div>
                <div class="col-sm-2">
                    <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
                </div>
            </div>
            <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
                return this;
            }
        });


        $(document).ready(function () {
            if ($(".splash").is(":visible")) {
                $(".nwrap").css({ "opacity": "0" });
				$('.ba').animateCss('zoomInRight');
            }
            $(".splash").click(function () {
                $(".splash").slideUp("800", function () {
                    $(".nwrap").delay(100).animate({ "opacity": "1.0" }, 800);
                    //$(".navbar").css({ "opacity": "1" });
                    $('.anpulse').animateCss('pulse');
                    $('.gl').animateCss('lightSpeedIn');
                });
            });
        });

        $(window).scroll(function () {
            $(window).off("scroll");
            $(".splash").slideUp("800", function () {
                $("html, body").animate({ "scrollTop": "0px" }, 100);
                $(".nwrap").delay(100).animate({ "opacity": "1.0" }, 800);
                //$(".navbar").css({ "opacity": "1" });
            });
        });
    </script>
	<script>
var map, popup, Popup;

/** Initializes the map and the custom popup. */
function initMap() {
  var myLatLng = {lat: 51.474692, lng: -0.025570};
  definePopupClass();

  map = new google.maps.Map(document.getElementById('map'), {
    center: myLatLng,
    zoom: 15,
  });

  popup = new Popup(
      new google.maps.LatLng(myLatLng),
      document.getElementById('content'));
  popup.setMap(map);
  
  // Append card when map renders
  google.maps.event.addListener(map, 'idle', function(e) {
    
    // Prevents card from being added more than once (i.e. when page is resized and google maps re-renders)
    if ( $( ".place-card" ).length === 0 ) {
    $(".gm-style").append('<div style="position: absolute; right: 0px; top: 0px;"> <div style="margin: 10px; padding: 1px; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; border-radius: 2px; background-color: white;"> <div> <div class="place-card place-card-large"> <div class="place-desc-large"> <div class="place-name"> Vinyl Deptford </div><div class="address"> 4 Tanner\'s Hill, London SE8 4PJ </div></div><div class="navigate"> <div class="navigate"> <a class="navigate-link" href="https://maps.google.com/maps?ll=51.476429,-0.026782&z=15&t=m&hl=en&gl=GB&mapclient=embed&daddr=Vinyl%20Deptford%204%20Tanner\'s%20Hill%20London%20SE8%204PJ@51.4747054,-0.0259555" target="_blank"> <div class="icon navigate-icon"></div><div class="navigate-text"> Directions </div></a> </div></div><div jstcache="41" class="review-box"> <div jstcache="42" class="review-number" jsan="7.review-number">4.7</div> <div jstcache="43" jsinstance="0" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div><div jstcache="43" jsinstance="1" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div><div jstcache="43" jsinstance="2" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div><div jstcache="43" jsinstance="3" class="icon rating-star rating-full-star" jsan="7.icon,7.rating-star,7.rating-full-star"></div><div jstcache="43" jsinstance="*4" class="icon rating-star rating-half-star" jsan="7.icon,7.rating-star,7.rating-half-star"></div> <a target="_blank" jstcache="44" href="http://www.google.co.uk/search?q=Vinyl+Deptford,+4+Tanner\'s+Hill,+London+SE8+4PJ&amp;ludocid=17471425621860298633#lrd=0x487602f50bac2bbb:0xf276f90916a42f89,1" jsaction="mouseup:placeCard.reviews" class="review-box-link" jsan="7.review-box-link,8.href,0.target,22.jsaction">39 reviews</a> </div>');	
	<!-- <div class="review-box"> <div class="" style="display:none"></div><div class="" style="display:none"></div><div class="" style="display:none"></div><div class="" style="display:none"></div><div class="" style="display:none"></div><div class="" style="display:none"></div><a href="https://plus.google.com/101643431012640484007/about?hl=en&amp;authuser=0&amp;gl=pt&amp;socpid=247&amp;socfid=maps_embed:placecard" target="_blank">1 review</a> </div><div class="saved-from-source-link" style="display:none"> </div><div class="maps-links-box-exp"> <div class="time-to-location-info-exp" style="display:none"> <span class="drive-icon-exp experiment-icon"></span><a class="time-to-location-text-exp" style="display:none" target="_blank"></a><a class="time-to-location-text-exp" style="display:none" target="_blank"></a> </div><div class="google-maps-link"> <a href="https://maps.google.com/maps?ll=40.837067,14.136834&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=PT&amp;mapclient=embed&amp;cid=2152474408176797502" target="_blank">View larger map</a> </div></div><div class="time-to-location-privacy-exp" style="display:none"> <div class="only-visible-to-you-exp"> Visible only to you. </div><a class="learn-more-exp" target="_blank">Learn more</a> </div></div></div></div></div>'); -->
    }
  });

}


/** Defines the Popup class. */
function definePopupClass() {
  
  Popup = function(position, content) {
    this.position = position;

    content.classList.add('popup-bubble-content');

    var pixelOffset = document.createElement('div');
    pixelOffset.classList.add('popup-bubble-anchor');
    pixelOffset.appendChild(content);

    this.anchor = document.createElement('div');
    this.anchor.classList.add('popup-tip-anchor');
    this.anchor.appendChild(pixelOffset);

    // Optionally stop clicks, etc., from bubbling up to the map.
    this.stopEventPropagation();
  };
  // NOTE: google.maps.OverlayView is only defined once the Maps API has
  // loaded. That is why Popup is defined inside initMap().
  Popup.prototype = Object.create(google.maps.OverlayView.prototype);

  /** Called when the popup is added to the map. */
  Popup.prototype.onAdd = function() {
    this.getPanes().floatPane.appendChild(this.anchor);
  };

  /** Called when the popup is removed from the map. */
  Popup.prototype.onRemove = function() {
    if (this.anchor.parentElement) {
      this.anchor.parentElement.removeChild(this.anchor);
    }
  };

  /** Called when the popup needs to draw itself. */
  Popup.prototype.draw = function() {
    var divPosition = this.getProjection().fromLatLngToDivPixel(this.position);
    // Hide the popup when it is far out of view.
    var display =
        Math.abs(divPosition.x) < 4000 && Math.abs(divPosition.y) < 4000 ?
        'block' :
        'none';

    if (display === 'block') {
      this.anchor.style.left = divPosition.x + 'px';
      this.anchor.style.top = divPosition.y + 'px';
    }
    if (this.anchor.style.display !== display) {
      this.anchor.style.display = display;
    }
  };

  /** Stops clicks/drags from bubbling up to the map. */
  Popup.prototype.stopEventPropagation = function() {
    var anchor = this.anchor;
    anchor.style.cursor = 'auto';

    ['click', 'dblclick', 'contextmenu', 'wheel', 'mousedown', 'touchstart',
     'pointerdown']
        .forEach(function(event) {
          anchor.addEventListener(event, function(e) {
            e.stopPropagation();
          });
        });
  };
}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEzskGAIth-S0j6Av-B6p5j7YQrBUVd-8&callback=initMap"
    async defer></script>
	
}
