@{
    ViewBag.Title = "Home Page";
}

@section BodyClass {
bodywhite
}


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div>
            <a class="navbar-brand" href='.'>
                @*<img src="img/header-logo.png" class="img-responsive" alt="header logo" />*@
            </a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active">@Html.ActionLink("Home", "Index", "PITP")</li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                    <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu pyu">
                    <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                    <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                    <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
            <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
            <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                    <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div id="logtop" class="topblock">
    <section class="carousel-section">
        <div id="carousel-example-generic" class="carousel carousel-razon slide" data-ride="carousel" data-interval="5000">
            <!-- Indicators del -->
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-7">
                                <div class="carousel-caption">
                                    <div class="carousel-text">
                                        <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">September 3rd 2016!</h1>
                                        <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">We need your help with this year's event.</h2>
                                        <ul class="list-unstyled carousel-list">
                                            <li class="animated bounceInLeft animation-delay-11">We particularly need Stewards, Catering Assistants,</li>
                                            <li class="animated bounceInLeft animation-delay-15">and help with Site build!</li>
                                        </ul>
                                        <p>
                                            <a href='@Url.Action("volunteer", "PITP")' class="btn btn-default">Please Volunteer!</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-5">
                                <div align="center" class="embed-responsive embed-responsive-16by9">
                                    <video controls class="embed-responsive-item">
                                        <source src="~/img/video-optimised.mp4" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-8">
                                <div class="carousel-caption">
                                    <div class="carousel-text">
                                        <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Party in the Park - Band line up</h1>
                                        <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">We've yet to finalise the line up</h2>
                                        <ul class="list-unstyled carousel-list">
                                            <li class="animated bounceInLeft animation-delay-11">for this years festival</li>
                                            <li class="animated bounceInLeft animation-delay-11">but will do so very soon</li>
                                            <li class="animated bounceInLeft animation-delay-15">Watch this space!</li>
                                        </ul>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                                <div class="carousel-img">
                                    <p>
                                        <a href="https://www.spacehive.com/party-in-the-park-2016" title="spacehive">
                                            <img src="~/img/bandlist.png" class="img-responsive animated bounceInUp animation-delay-3" alt="Image">
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-1 col-sm-1 hidden-xs carousel-img-wrap">
                                <div class="carousel-caption">
                                    <div class="carousel-text">
                                        <div class="fixed-height-250 animated fadeInDownBig animation-delay-2">
                                            <div class="progress vertical bottom progress-striped">
                                                <div class="progress-bar progress-bar-custom six-sec-ease-in-out" role="progressbar" id="prg"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6">
                                <div class="carousel-caption">
                                    <h1 class="animated fadeInDownBig animation-delay-7 carousel-title text-center">We hit our Spacehive target!</h1>
                                    <img src="~/img/spacehive-logo.png" class="img-responsive animated fadeInRightBig animation-delay-3" alt="Image">
                                    <div class="carousel-text">
                                        <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">Thank you to everyone that pledged!</h2>
                                        <ul class="list-unstyled carousel-list">
                                            <li class="animated bounceInLeft animation-delay-15">Special Thanks to the following sponsors</li>
                                            <li class="animated bounceInLeft animation-delay-11">The Birds Nest ★ Lewisham Tenants Fund ★ Three Boroughs Housing Co-op ★ Pinnicle Housing</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 hidden-xs carousel-img-wrap">
                                <div class="carousel-img">
                                    <p><a href="https://www.spacehive.com/party-in-the-park-2016" title="spacehive">
                                        <img src="~/img/web-logo.png" class="img-responsive animated fadeInRightBig animation-delay-3" alt="Image"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-sm-8">
                                <div class="carousel-caption">
                                    <div class="carousel-text">
                                        <h1 class="animated fadeInDownBig animation-delay-7 carousel-title">Providing a free festival in Fordham park</h1>
                                        <h2 class="animated fadeInDownBig animation-delay-5  crousel-subtitle">We need help with the following</h2>
                                        <ul class="carousel-list list-inline list">
                                            <li class="animated bounceInLeft animation-delay-11">Stewarding </li>
                                            <li class="animated bounceInLeft animation-delay-13">Parking Stewards</li>
                                            <li class="animated bounceInLeft animation-delay-16">Flyer & poster distribution</li>
                                            <li class="animated bounceInLeft animation-delay-19">Site build, decor & strike</li>
                                            <li class="animated bounceInLeft animation-delay-21">Technical/sound engineers ★ stage management ★ stage runners ★comperes ★ carpenters</li>
                                        </ul>
                                        <p><a href='@Url.Action("volunteer", "PITP")' class="btn btn-default">Please Volunteer!</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-4 hidden-xs carousel-img-wrap">
                                <div class="carousel-img">
                                    <p><a href="https://www.spacehive.com/party-in-the-park-2016" title="spacehive">
                                        <img src="~/img/sam.png" class="img-circle img-responsive animated bounceInUp animation-delay-3" alt="Image"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="left carousel-control" data-slide="prev" href="#carousel-example-generic"><span class="icon-prev"></span></a>
            <a class="right carousel-control" data-slide="next" href="#carousel-example-generic"><span class="icon-next"></span></a>
        </div>

    </section>

</div>

<div class="container clearfix bgFullScreen">
    <div class="container" id="hmsects">
        <div class="row">
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <img class="img-circle img-responsive" src="img/hround1.png">
                    <h3>We are back for 2016...</h3>
                    <p>
                        Party in the Park in Deptford, is a great free festival providing music and entertainment for the New Cross and Deptford communities -
                                    with a large number of brilliant diverse performers.
                                    Party In the Park is an event organised by various community groups in the area around Fordham Park.
                    </p>
                    <p>
                        After the success of “Party in the Park <a href='@Url.Action("year2014", "PITP")'>2014</a> and <a href='@Url.Action("Party2013", "PITP")'>2013
                        </a>the event’s organisers are planning an even bigger and better day out for 2016! Find out more <a href='@Url.Action("about-us", "PITP")'>about</a> us or check out
                                    our <a href="/sponsors#sponsor">sponsorship</a> opportunities
                    </p>
                    <p><a href='@Url.Action("about-us", "PITP")' class="btn btn-default">Read More &raquo;</a></p>
                </div>
            </section>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <img class="img-circle img-responsive" src="img/hround4.png">
                    <h3>Up and Coming Events</h3>
                    <p>
                        A number of events in the run up to this years Party In The Park are currently being organised. As fund raisers, these events will go a long
                                    way to help us fund the festival in 2016.
                    </p>
                    <p>
                        The festival to date has been financed on a shoe string budget and relies on the dedication of a number of committed volunteers.
                                    We are planning a number of benefit gigs to help fund the event this summer. Watch this space for details of <a href='@Url.Action("Upandcoming", "PITP")'>up and coming events</a>, or
                                    follow us on <a href="https://twitter.com/pitpnxd" alt="pitp twitteer link">twitter</a> and <a href="https://www.facebook.com/PitpInthepark/" alt="pitp facebook link">facebook</a>.
                    </p>
                    <p><a href='@Url.Action("Upandcoming", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                </div>
            </section>
            <div class="clearfix hidden-md hidden-lg"></div>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <img class="img-circle img-responsive" src="img/hround3.png">
                    <h3>Past Events</h3>
                    @*<p>The Party, organised by a number of community groups that include New Cross Learning and Madcap Coalition, is a revival of the famous <a href="http://transpont.blogspot.co.uk/2012/01/urban-free-festival-1992.html">Urban Free Festival</a>. Party in the Park is a New Cross/Deptford community event for all ages, with family events, arts and crafts, stalls, spoken word, as well as local bands and acts for all tastes from disco to reggae, punk rock, soul and folk.</p>*@
                    <p><a href='@Url.Action("year2014", "PITP")'>In 2014</a> Party in the Park held a very successful event in Fordham Park, Deptford. Blessed by good weather, the festival provided a great day out for all who attended. The event’s organisers first came together to help deliver the festival in <a href="@Url.Action("2013", "PITP")" title="party in the park 2013">2013</a> and building upon this, worked together again to deliver an even bigger and better event.</p>
                    <p><a href='@Url.Action("year2014", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <p>In order to help pay for Party in the Park a number of fund raisers have been successfully held in the past. We intend to put on more <a href='@Url.Action("Upandcoming", "PITP")'>Up and Comming Events page</a> in order to help pay for the fesival this summer.</p>
                </div>
            </section>
            <section class="section">
                <div class="col-sm-6 col-md-3">
                    <img class="img-circle img-responsive" src="img/hround2.png">
                    <h3>Volunteers</h3>
                    <p>
                        The people who are currently making this possible are a very small group of very dedicated people - but there's only so much they can do and
                                    the organisers are still looking for volunteers: contact
                                    <br />
                        <a href="mailto:pitpnxd@gmail.com" target="_blank">pitpnxd@gmail.com</a>
                        <br />
                        If you wish to help to contact the organisers of Party in the Park
                                    please <a href='@Url.Action("contact", "PITP")'>get in touch</a>
                    </p>
                    <p><a href='@Url.Action("volunteer", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                    <h3>Sponsorship</h3>
                    <p>Last year a number of different business and organisation helped support this community event.</p>
                    <p>We are looking to attain sponsorship for Party in the Park 2016. This could be a great oppurtunity for your business to help support and promote itself within the community.</p>
                    <p><a href='@Url.Action("sponsors", "PITP")' class="btn btn-default">View details &raquo;</a></p>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            $('.progress .progress-bar').progressbar();
            $('.carousel').carousel({
                interval: 5000
            });
        })

        $.getJSON("https://api.spacehive.com/api/Projects/GetById/22669", function (json) {
            console.log(json);
            $("#prg").attr('data-transitiongoal', Math.round(json.PecentFunded)).progressbar({ display_text: 'center' });
        });

    </script>
}

