@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page">
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href='.'>
                        
                    </a>
                </div>
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                                <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu pyu">
                                <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                                <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                                <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                        <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                        <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.facebook.com/profile.php?id=100005402296847">Facebook</a></li>
                                <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>
<div class="intro-block2">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="img/sitemap.png">
            </div>
            <div class="col-xs-9">
                <h1>@ViewBag.Message <span class="text-muted qback">&raquo; @Html.MvcSiteMap().SiteMapTitle()</span></h1>
                <p class="lead">Below are a list of the Party In The Park web site pages</p>
            </div>
        </div>
    </div>    
</div>
<!-- End Intro Text -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>@Html.MvcSiteMap().SiteMap()</h2>
            <hr class="borback">
            
        </div>
    </div> 
</div>

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>       
</div>

