@model PITP.email
@{
    ViewBag.Title = "Tent City";
}
@section BodyClass {
backgrey
}

<div id="page">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>
                    
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li><li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PITPNXD/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End Navigation -->

@if (@ViewData["Sent"] != "sent")
{
    <div class="intro-block2 topblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
					<img class="img-responsive tpad" src="img/ab-logo.png">
				</div>
            <div class="col-xs-12 col-sm-9">
				<h1 class="stenwhite">Tent City  <span class="yell">&raquo; Demanding Housing for Our Community</span></h1>
			</div>
        </div>
		</div>
	</div>
	<div class="container padded colgrey">
			<div class="col-xs-12 col-sm-9">
                    <p class="leadh jumbotron">
                        London is experiencing an ongoing housing crisis. At this year’s Party in the Park 2018, an area called “Tent City” will look at
                        the housing problems our communities face. We hope to bring together a number of different people to look at ways that
                        the attack on social housing can be challanged. “Tent City” will look at how the community can organise to
                        combat the social cleansing of our neighbourhoods and campaign for better social housing provision.
                    </p>
					<p>
						Over the coming weeks, we will be reaching out to different groups within the community and asking for their input for this year's
						festival. The format of Tent City for Party in the Park 2018 will be decided by these different groups. 
					</p>
					<p>
						Below are some ideas/suggestions for Tent City in 2018:
					</p>
                    <ol>
                        <li class="tcmb">
                            <span class="text-muted3">The Problem:</span> Introduction to what the housing crisis is, and how it is in impacting
                            on the local area.
                        </li>
                        <li class="tcmb"><span class="text-muted3">The Solution/ Ways to Organise/ Combating the “Inevitable”:</span> Investigating methods to combat these problems, using the knowledge of existing groups in the Social and Alternative housing sectors</li>
                        <li class="tcmb">
                            <span class="text-muted3">Workshops:</span> workshops will look at practical ways to organise and resist social cleansing.
                        </li>
                        <li class="tcmb"><span class="text-muted3">Plenary Session: </span>getting feedback from each of the workshops, and tackling next steps</li>
                    </ol>
					<p>
						We will aim to set up a Tent City meeting in the coming weeks in order that those that are interested in contributing get a chance to exchange ideas and make suggestions for the itinerary of the event. 
					</p>
					<p>
						If you are interested in getting involved, please get in touch with use - you can email <a href="mailto: tentcity@pitpnxd.co.uk">tentcity@pitpnxd.co.uk</a> or use the form below.
					</p>
                    
</div>
            </div>
}
else
{
    <div class="intro-block2">
        <div class="container">
            <div class="row">
                <div class="row">
					<div class="col-sm-3 hidden-xs">
						<img class="img-responsive tpad" src="img/ab-logo.png">
					</div>
					<div class="col-xs-12 col-sm-9">
						<h1>Thank you.</h1>
						<p class="leadh jumbotron">@ViewData["Message"]</p>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div class="container colgrey">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="sten"><span class="bl">Get in touch</span></h2>
            <hr class="borback">
            <p>
                If you wish to find out more, or get invloved in the Tent City at this years Party In the Park, then please 
                use the form below to contact us or send us an email <a href="mailto: tentcity@pitpnxd.co.uk">tentcity@pitpnxd.co.uk</a>
            </p>

            @using (Html.BeginForm("tentcity", "PITP", FormMethod.Post, new { @class = "form-horizontal tpad", role = "form" }))
            {

                <div class="form-group">
                    <label for="email" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.Email, new { type = "email", @class = "form-control", id = "email", placeholder = "Email" })
                    </div>
                </div>
                <div class="form-group tpad">
                    <label for="message" class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-10">
                        @Html.TextAreaFor(x => x.Message, new { @class = "form-control", rows = "6", id = "message", placeholder = "Message..." })
                    </div>
                </div>
                <div class="form-group tpad">
                    <div class="col-lg-offset-2 col-lg-10">
                        @*<a data-toggle="modal" href="#myModal" class="btn btn-default btn-lg">Send</a>*@
                        @*<input type="submit" value="Send" class="btn btn-default btn-lg" />*@
                        <input type="submit" value="Send" class="btn btn-default btn-lg" />
                    </div>
                </div>      

            }
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" src="img/get-involved.png">
            <hr class="borback">
            <h3>Email </h3>
            <address>
                <a href="mailto: tentcity@pitpnxd.co.uk">tentcity@pitpnxd.co.uk</a>
            </address>
        </div>
    </div>
</div>
<!-- End Page Content -->

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>
<!-- info panel end -->

@section Scripts {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
        $('form').validate({
            rules: {
                Email: {
                    email: true,
                    required: true
                },
                Message: {
                    minlength: 3,
                    required: true
                },
                messages: {
                    Email: {
                        email: "Please enter a valid email address",
                        required: "Please enter your email address"
                    },
                    Message: { required: "Please enter a message" }
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',

            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    </script>
}