@{
    ViewBag.Title = "upandcoming";
}
<div id="page">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>
                    
                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "PITP")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li><li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="active">@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navigation -->
    <div class="intro-block2 topblock">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive tpad" src="img/idea.png">
                </div>
                <div class="col-xs-9">
                    <h1>Up and Coming... <span class="text-muted qback">&raquo;2017 Benefit Events!</span></h1>
                    
                    <p class="lead">
                        We are planning a number of benefit gigs to help fund the event next summer. Watch this space for details of <a href='@Url.Action("Upandcoming", "PITP")'> up and coming events</a>, or
                        follow us on <a href="https://twitter.com/pitpnxd" alt="pitp twitteer link">twitter</a> and <a href="https://www.facebook.com/PitpInthepark/" alt="pitp facebook link">facebook</a>.
                    </p>
                </div>
            </div>            
        </div>
    </div>

    <div class="container intro-block6">
        <div class="row sten">
            <div class="col-xs-12 col-md-6">
                <p>come join us for <span class="bl">our agm</span> at the <span class="bl">moonshot</span> centre, <span class="bl">fordham park</span></p>
                <p class="stensmall">Sunday 12th november 2017 | 2-5pm</p>

                <p class="stensmall" style="margin-top:2em;">if you would like to help out with next year's <span class="bl">festival</span> and get involved with <span class="bl">Party in the park</span> we'd love to meet you</p>
                <p class="stensmall">we'll have music food and drink, banner making</p>
                <p class="stensmall">With live performances from<span class="bl sten"> Ceri James</span> and <span class="bl sten">rhizome</span> &amp; special guests +</p>
                <p class="stensmall bl"><span class="sten">achilles stop and listen</span> campaign will be discussing housing issues</p>

            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1 pull-right">
                <p class="gl" id="agmgl"><img src="~/img/agm-glasses.png" class="img-responsive hidden-sm" alt="party in the park logo" /></p>
                <p class="anpulse" id="music">music</p>
                <p class="anpulse" id="rd"><span class="bl">AGM &amp; 2018 Recruitment drive</span></p>
                <p class="anpulse" id="ass"><a href="https://achillesstreetstopandlisten.wordpress.com/">achilles st stop &amp; listen campaign</a></p>
                <p class="anpulse" id="ref"><span class="bl">refreshments</span></p>
                <p class="anpulse" id="bm">banner making</p>
            </div>
        </div>
        <div class="row sten">
            <div class="col-xs-12 tpad">
                <p class="stensmall">Followed by <span class="bl"><a href="https://www.facebook.com/events/185529255352675/">no social cleansingin lewisham</a></span> at the birds nest 6-11pm</p>
            </div>
        </div>
    </div>
    <div class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 tabbable">
                    <blockquote>
                        <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                        <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                    </blockquote>
                </div>
                <div class="col-sm-4">
                    <!-- Quote go here -->
                    <blockquote>
                        <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                        <small class="qback">R.McFarlane</small>
                    </blockquote>
                </div>
                <div class="col-sm-2">
                    <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
                </div>
            </div>
            <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
        </div>
    </div>
    </div>

@section scripts
{
    <script type="text/javascript">
        $.fn.extend({
            animateCss: function (animationName) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function () {
                    $(this).removeClass('animated ' + animationName);
                });
                return this;
            }
        });

        $(document).ready(function () {
            $(".wrapper").delay(100).animate({ "opacity": "1.0" }, 800);
            $(".navbar").css({ "opacity": "1" });
            $('.anpulse').animateCss('pulse');
            $('.gl').animateCss('lightSpeedIn');
        });        
    </script>
}
