@model PITP.Models.volunteer

@{
    ViewBag.Title = "volunteer";
}
<div id="page">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>

                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "PITP")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li class="active">@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End Navigation -->

@if (@ViewData["Sent"] != "sent")
{
    <div class="intro-block2 topblock">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive tpad" src="img/vol.png">
                </div>
                <div class="col-xs-9">
                    <h1>Party In The Park <span class="text-muted qback">&raquo; Get involved!</span></h1>
                    <p class="lead">
                        If you would like to get involved with this exciting, free, community festival - then we would love to have you on board.
                    </p>
                    <p>We are looking for people who can contribute with the following</p>
                    <ul>
                        <li>Stewarding </li>
                        <li>Parking Stewards</li>
                        <li>flyer & poster distribution</li>
                        <li>Site build, decor & strike</li>
                        <li>Technical/sound engineers/stage management/stage runners/comperes/carpenters</li>
                    </ul>
                    <p>We particularly need<b class="text-muted2"><em>STEWARDS!</em></b></p>
                    <p><b class="text-muted2">What we can give you</b></p>
                    <ul>
                        <li>
                            Excellent work experience and references
                        </li>
                        <li>The chance to contribute to an exciting community event</li>
                        <li>One day certificated first aid training (places are limited!) </li>
                        <li>A free food voucher from any of the food stalls on the day</li>
                        <li>A free drink voucher</li>
                        <li>Free entry to after party event</li>
                    </ul>
                    <p><b><i>Watch this space for the job roles, specifications and application form. Interviews to take place in the first week of July.</i></b></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Intro Text -->
    <div class="container padded batop">
        <div class="row">
            <div class="col-sm-8">
                <h2>To apply </h2>
                <hr class="borback">
                <p>If you wish to help out in any way possible please use the form below to contact us.</p>

                @using (Html.BeginForm("Volunteer", "PITP", FormMethod.Post, new { @class = "form-horizontal tpad", role = "form" }))
                {

                    <div class="form-group">
                        @Html.LabelFor(c => c.Name)
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Name, new { type = "text", @class = "form-control", id = "Name", placeholder = "Name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group tpad">
                        @Html.LabelFor(c => c.Email)
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", placeholder = "Email...", type = "email" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group tpad">
                        @Html.LabelFor(c => c.Telephone)
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control", id = "telphone", placeholder = "Telephone.", type = "telephone" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">

                            @Html.LabelFor(x => x.Over18, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.Over18)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Over18" value="@item" > @item
                                    </label>
                                }
                                
                            </div>
                            @*@Html.ValidationMessageFor(model => model.Over18)*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.InterestedRoles, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.InterestedRoles)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="InterestedRoles" value="@item"> @item
                                    </label>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.Skills, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.Skills)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Skills" value="@item"> @item
                                    </label>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.CRB, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.CRB)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="CRB" value="@item"> @item
                                    </label>
                                }
                                @Html.ValidationMessageFor(model => model.Over18)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.FirstAid, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.FirstAid)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="FirstAid" value="@item"> @item
                                    </label>
                                }
                            </div>
                        </div>

                    </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label for="madcap">Madcap is a voluntary organisation bringing urban fetes, clowns and fun to many local events. Madcap will be stationed in Fordham Park 2 weeks before the festival for 1 week working with local kids creating decorations for the festival and carnival creations for the procession on the day of the festival. If you have experience working with children and would like to volunteer on this creative and rewarding project, then please tick the Yes box below!</label>
                                    <div><label class="checkbox-inline">
                                            @Html.CheckBoxFor(x => x.MadCap) Yes</label>
                                        </div>
                                    </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10">
                                    <input type="submit" value="Send" class="btn btn-default btn-lg" />
                                </div>
                            </div>

                }
            </div>

            <div class="col-sm-4">
                <img class="img-circle img-responsive" src="~/img/sam.png">
                <hr class="borback">
                <address>
                    <h3>New Cross Learning</h3>
                    283 – 285 New Cross Road<br>
                    London, SE14 6AS<br>
                    <a href="mailto: vols@pitpnxd.co.uk">vols@pitpnxd.co.uk</a><br>
                    <abbr title="Phone">P:</abbr>0208 320 0813
                </address>
            </div>
        </div>
    </div>
}
else
{
    <div class="intro-block2">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive tpad" src="img/vol.png">
                </div>
                <div class="col-xs-9">
                    <h1>Thank you.</h1>
                    <p class="lead">@Html.Raw(ViewData["Message"])</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padded batop">
        <div class="row">
            <div class="col-sm-9 col-md-offset-3">
                <p><img src="~/img/web-logo.png" class="img-responsive" alt="june fund-raiser" /></p>
            </div>
        </div>
    </div>
}


<!-- End Page Content -->

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>
<!-- info panel end -->

@section Scripts {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@
        @*<script>
            $('form').validate({
                rules: {
                    Email: {
                        email: true,
                        required: true
                    },
                    Message: {
                        minlength: 3,
                        required: true
                    },
                    messages: {
                        Email:  {
                            email: "Please enter a valid email address",
                            required: "Please enter your email address"
                        },
                        Message: {required: "Please enter a message"}
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',

                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        </script>*@
    <script>
        $('form').validate({
            rules: {
                Email: {
                    email: true,
                    required: true
                },
                Name: "required",
                Over18: "required",
                CRB: "required",
                FirstAid: "required",
            },
                messages: {
                    Email: {
                        email: "Please enter a valid email address",
                        required: "Email is required (we promise not to spam you!)"
                    },
                    Name: { required: "You forgot to enter your name!" },
                    Over18: { required: "Please Select Either Yes or No" },
                    CRB: { required: "Please Select Either Yes or No" },
                    FirstAid: { required: "Please Select Either Yes or No" }
            },

            
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',

            errorPlacement: function (error, element) {
                if (element.parent('.checkbox-inline').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    </script>
}
