@model PITP.Models.volunteer

@{
    ViewBag.Title = "volunteer";
}
@section BodyClass {
backgrey
}
<div id="page">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="navbar-brand" href='.'>

                </a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "PITP")</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu pyu">
                        <li>@Html.ActionLink("2016", "year2016", "PITP")</li><li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                        <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                <li class="active">@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/PITPNXD/">Facebook</a></li>
                        <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- End Navigation -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">Assistant Head Steward Role</h3>
                
            </div>
            <div class="modal-header">
                <h4 class="modal-title">Monitoring Station</h4>
            </div>
                <div class="modal-body">
                    <ul>
                        <li>To be friendly, polite and informative at all times with crew and general public.</li>
                        <li>To be stationed at monitoring desk for 1 shift with a chief steward.</li>
                        <li>To check in the bands/acts on the timetable provided.</li>
                        <li>To communicate with stages regarding bands arrival.</li>
                        <li>To be responsible for petty cash tin.</li>
                        <li>To allocate travel money to volunteers when presented with tickets and record this.</li>
                        <li>To allocate food / drink vouchers to bands/acts/volunteers and record appropriately.</li>
                        <li>To communicate via radio with first aiders, stewards and security as necessary.</li>
                        <li>To communicate via radio with stages to announce a lost child.</li>
                        <li>To be aware of issues concerning public safety and reporting appropriately if needed.</li>
                        <li>To attend a training session prior to the event.</li>
                    </ul>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Roaming</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>To be friendly, polite and informative at all times with crew and general public.</li>
                        <li>To coordinate chief stewards regarding breaks, litter picking duties.</li>
                        <li>To be aware and report issues of health and safety.</li>
                        <li>To stand in where appropriate if needed to cover a stewarding area.</li>
                        <li>To communicate with monitoring station, first aiders, lost children area, security when appropriate.</li>
                        <li>To administer first aid.</li>
                        <li>To be aware of issues concerning public safety and reporting appropriately if needed.</li>
                        <li>To attend a training session prior to the event.</li>
                    </ul>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
    </div>
</div>

<div class="modal fade" id="ChiefStewardRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Chief Steward Role</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>To be friendly and helpful to the general public at all times.</li>
                    <li>To take instruction from the Assistant Head and Head Stewards.</li>
                    <li>To manage a team of stewards in an allotted area.</li>
                    <li>To communicate any issues to Assistant Head / Head Steward if needed.</li>
                    <li>To ensure all stewards have breaks and that area is sufficiently covered.</li>
                    <li>To use radio provided to communicate with team as relevant.</li>
                    <li>To be aware of health and safety issues and report appropriately.</li>
                    <li>To be aware regarding of issues public safety and report any issues appropriately.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StageCrewVolunteers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">StageCrewVolunteers</h3>
                <h4 class="modal-title" id="myModalLabel">Stage Crew Volunteers role and requirements.</h4>
            </div>
            <div class="modal-body">
                <p>As a volunteer for the construction of the stages and associated build of the festival it is of paramount importance that volunteers are physically capable and confident in manual labour.</p>

                <p>
                    Experience in event builds or similar trades/professions would be an advantage and any useful skills should be flagged up during the enrolment process.
                </p>

                <p>
                    Volunteers can expect to be fully briefed regarding health & safety, provided with relevant tools/kit/PPE (excluding steel toe capped boots) and led by an experienced member of the festival build team.
                </p>

                <p>
                    Volunteers should stipulate their availability for the build and strike down.
                </p>

                <p>
                    Flexibility is needed regarding this role as the logistics of a festival build/take down can be prone to alterations and changes, the enrolment form will ask for clarification on dates/times of volunteer availability.
                </p>

                <p>
                    <b>Duties will involve:</b>
                </p>

                <p>
                    Lifting, moving equipment, constructing stages, building and installing festival infrastructure, running cables, installing fences, basically constructing and then de constructing the physical furniture of the event.
                </p>

                <p>
                    Volunteers will be expected to be:
                </p>

                <p>
                    Physically fit and capable of manual work however no matter what your abilities we can utilise your skills.
                </p>

                <p>
                    Happy and willing to take instruction from an experienced team leader.
                </p>

                <p>
                    Conscious of the need to work safely and as a member of a team.
                </p>

                <p>
                    Flexible attitude towards the types of tasks to be undertaken (building stages/hanging back drops/erecting fencing/moving stuff etc).
                </p>

                <p>
                    Please provide your own steel toe capped boots as some tasks will require their use, if you do not have such boots then you will be assigned a task that does not require them.
                </p>

                <p>Volunteers are particularly needed for the “strike down” (de construction) of the event which happens from the moment the festival finishes and for several days afterwards so please let us know if your available.</p>

</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="OnStage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">On site catering job role</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>To work as part of a team.</li>
                    <li>To work in on-site kitchen providing breakfast, lunch and dinner for the crew.</li>
                    <li>To fulfil any duties as needed.</li>
                    <li>To assist in food preparation, serving and cleaning.</li>
                    <li>To work shifts.</li>
                    <li>To take direction from Shona, head of the kitchen.</li>
                </ul>
            </div>
            <div class="modal-header">                
                <h4 class="modal-title" id="myModalLabel">On-site catering assistant job specification</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>To be available for varying shifts from Thursday 1st September – Sunday 4th September. (essential)</li>
                    <li>To be able to commit to at least 3 shifts. (essential)</li>
                    <li>To have experience working/training in a professional kitchen. (desirable)</li>
                    <li>To be reliable and a good time keeper. (essential)</li>
                    <li>To be flexible and adaptable to the needs of a festival kitchen. (essential)</li>
                    <li>To be able to work well in a team. (essential)</li>
                    <li>To have experience working front-of-house. (desirable)</li>
                    <li>To have a current food and hygiene certificate. (desirable)</li>
                    <li>To have experience working in an outside environment. (desirable)</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="StewardRole" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Steward Role</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>To be friendly and helpful to the general public at all times.</li>
                    <li>To be knowledgeable of the site and be able to give directions and advise of what activities are taking place.</li>
                    <li>To be aware of health and safety issues pertaining to the festival and reporting if appropriate.</li>
                    <li>To be aware of issues regarding public safety and reporting appropriately if needed.</li>
                    <li>To litter pick when required.</li>
                    <li>To be flexible and cover another stewarding area if needed.</li>
                    <li>To be able to attend a training session in the week before the event.</li>
                    <li>To work well in a team and to take instruction from Chief Steward.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@if (@ViewData["Sent"] != "sent")
{
    <div class="intro-block2 topblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 hidden-xs">
                <img class="img-responsive tpad" src="img/ab-logo.png">
            </div>
            <div class="col-xs-12 col-sm-9">
                    <h1 class="stenwhite">Party In The Park <span class="yell">&raquo; Get involved!</span></h1>
                    <p class="lead yell">
                        If you would like to get involved with this exciting, free, community festival - then we would love to have you on board.
                    </p>
                                      
                </div>
            </div>
        </div>
    </div>
	
	<div class="container colgrey" style="font-size:medium">
		<div class="row">
			<div class="col-sm-12">
			<h4><b>We are looking for people who can contribute with the following</b></h4>
                    <ul>
                        <li>Stewarding </li>
                        <li>Parking Stewards</li>
                        <li>flyer & poster distribution</li>
                        <li>Site build, decor & strike</li>
                        <li>Technical/sound engineers/stage management/stage runners/comperes/carpenters</li>
                    </ul>
                    <p class="text-muted2">If interested, check out these roles -</p>
                    <ul class="volb">
                        <li><a href="#" data-toggle="modal" data-target="#myModal">Assistant Head Steward Role</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#ChiefStewardRole">Chief Steward Role</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#StageCrewVolunteers">Stage Crew & Site Build</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#OnStage">On site catering job role</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#StewardRole">Steward Role</a></li>
                    </ul>                    
                    <p>We particularly need<b class="text-muted2"><em> STEWARDS!</em></b></p>
                    <p><b class="text-muted2">What we can give you</b></p>

                    <ul>
                        <li>
                            Excellent work experience and references
                        </li>
                        <li>The chance to contribute to an exciting community event</li>
                        <li>One day certificated first aid training (places are limited!) </li>
                        <li>A free food voucher from any of the food stalls on the day</li>
                        <li>A free drink voucher</li>
                        <li>Free entry to after party event</li>
                    </ul>  
					</div>
		</div>
	</div>
	
	
    <!-- End Intro Text -->
    <div class="container padded batop colgrey">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="sten">To apply </h2>
                <hr class="borback">
                <p>If you wish to help out in any way possible please use the form below to contact us.</p>

                @using (Html.BeginForm("Volunteer", "PITP", FormMethod.Post, new { @class = "form-horizontal tpad", role = "form" }))
                {

                    <div class="form-group">
                        @Html.LabelFor(c => c.Name)
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Name, new { type = "text", @class = "form-control", id = "Name", placeholder = "Name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </div>
                    <div class="form-group tpad">
                        @Html.LabelFor(c => c.Email)
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", id = "email", placeholder = "Email...", type = "email" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group tpad">
                        @Html.LabelFor(c => c.Telephone)
                        <div class="col-lg-10">
                            @Html.TextBoxFor(x => x.Telephone, new { @class = "form-control", id = "telphone", placeholder = "Telephone.", type = "telephone" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">

                            @Html.LabelFor(x => x.Over18, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.Over18)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Over18" value="@item" > @item
                                    </label>
                                }
                                
                            </div>
                            @*@Html.ValidationMessageFor(model => model.Over18)*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.InterestedRoles, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.InterestedRoles)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="InterestedRoles" value="@item"> @item
                                    </label>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.Skills, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.Skills)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="Skills" value="@item"> @item
                                    </label>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.CRB, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.CRB)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="CRB" value="@item"> @item
                                    </label>
                                }
                                @Html.ValidationMessageFor(model => model.Over18)
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                            @Html.LabelFor(x => x.FirstAid, new { @class = "control-label" })
                            <div>
                                @foreach (var item in Model.FirstAid)
                                {
                                    <label class="checkbox-inline">
                                        <input type="checkbox" name="FirstAid" value="@item"> @item
                                    </label>
                                }
                            </div>
                        </div>

                    </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label for="madcap">Madcap is a voluntary organisation bringing urban fetes, clowns and fun to many local events. Madcap will be stationed in Fordham Park for 1 week working with local kids creating decorations for the festival and carnival creations for the procession on the day of the festival. If you have experience working with children and would like to volunteer on this creative and rewarding project, then please tick the Yes box below!</label>
                                    <div><label class="checkbox-inline">
                                            @Html.CheckBoxFor(x => x.MadCap) Yes</label>
                                        </div>
                                    </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-10">
                                    <input type="submit" value="Send" class="btn btn-default btn-lg" />
                                </div>
                            </div>

                }
            </div>

            <div class="col-sm-4">
                <img class="img-circle img-responsive" src="~/img/sam.png">
                <hr class="borback">
                <address>
                    <a href="mailto: vols@pitpnxd.co.uk">vols@pitpnxd.co.uk</a><br>                  
                </address>
            </div>
        </div>
    </div>
}
else
{
    <div class="intro-block2">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <img class="img-responsive tpad" src="img/vol.png">
                </div>
                <div class="col-xs-9">
                    <h1>Thank you.</h1>
                    <p class="lead">@Html.Raw(ViewData["Message"])</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container padded batop">
        <div class="row">
            <div class="col-sm-9 col-md-offset-3">
                <p><img src="~/img/web-logo.png" class="img-responsive" alt="june fund-raiser" /></p>
            </div>
        </div>
    </div>
}


<!-- End Page Content -->

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>
<!-- info panel end -->

@section Scripts {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>*@
        @*<script>
            $('form').validate({
                rules: {
                    Email: {
                        email: true,
                        required: true
                    },
                    Message: {
                        minlength: 3,
                        required: true
                    },
                    messages: {
                        Email:  {
                            email: "Please enter a valid email address",
                            required: "Please enter your email address"
                        },
                        Message: {required: "Please enter a message"}
                    }
                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'help-block',

                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        </script>*@
    <script>
        $('form').validate({
            rules: {
                Email: {
                    email: true,
                    required: true
                },
                Name: "required",
                Over18: "required",
                CRB: "required",
                FirstAid: "required",
            },
                messages: {
                    Email: {
                        email: "Please enter a valid email address",
                        required: "Email is required (we promise not to spam you!)"
                    },
                    Name: { required: "You forgot to enter your name!" },
                    Over18: { required: "Please Select Either Yes or No" },
                    CRB: { required: "Please Select Either Yes or No" },
                    FirstAid: { required: "Please Select Either Yes or No" }
            },

            
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',

            errorPlacement: function (error, element) {
                if (element.parent('.checkbox-inline').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    </script>
}
