@{
    ViewBag.Title = "2014";
}
@section AddToHead{
    <link href="@Url.Content("~/css/ekko-lightbox.min.css")" rel="stylesheet" type="text/css" />
}
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href='.'>
                        
                    </a>
                </div>
            </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "PITP")</li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                                <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Tent City", "tentcity", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                            <ul class="dropdown-menu pyu">
                                <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                                <li class="active">@Html.ActionLink("2013", "year2013", "PITP")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                                <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                        <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                        <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                                <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </nav>
       
<div class="intro-block2 topblock">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="img/icon2013.png">
            </div>
            <div class="col-xs-9">
                <h1>Party in the Park <span class="text-muted qback">&raquo; 2013</span></h1>
                <p class="lead">
                    Check out some photo’s from our first free community festival in 2013 in
                    the image gallary (click on the images) below.
                </p>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 blog">
                <h1 id="2013" class="headtag">Party in the Park 2013</h1>
            </div>
            <div class="col-sm-4 sidebar">
                <div class="col-sm-9">
                    <h4>A great day out despite the rain... </h4>
                </div>
                <div class="col-sm-3">
                    <img class="img-responsive" src="img/umbrella.png">
                </div>
            </div>

        </div>
        <div class="row wrapper-parent">
            <div class="col-sm-8">
                <div class="row tpad myTooltip">
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-8.jpg" data-toggle="lightbox" class="thumbnail" data-title="accoustic stage performer" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-8-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-1.jpg" data-toggle="lightbox" class="thumbnail" data-title="Thumbs up for Party in the Park" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-1-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-2.jpg" data-toggle="lightbox" class="thumbnail" data-title="Cheers Lads!" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-2-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-3.jpg" data-toggle="lightbox" class="thumbnail" data-title="There be dragons..." data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-3-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-4.jpg" data-toggle="lightbox" class="thumbnail" data-title="Getting down on the dance floor" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-4-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-5.jpg" data-toggle="lightbox" class="thumbnail" data-title="vintage class" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-5-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-6.jpg" data-toggle="lightbox" class="thumbnail" data-title="power to the people" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-6-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-7.jpg" data-toggle="lightbox" class="thumbnail" data-title="curry on partying" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-7-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-9.jpg" data-toggle="lightbox" class="thumbnail" data-title="audiance in the rain" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-9-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-10.jpg" data-toggle="lightbox" class="thumbnail" data-title="safety first" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-10-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-11.jpg" data-toggle="lightbox" class="thumbnail" data-title="kick out the jams!" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-11-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-12.jpg" data-toggle="lightbox" class="thumbnail" data-title="stage stall" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-12-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-13.jpg" data-toggle="lightbox" class="thumbnail" data-title="rumble in the zumba" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-13-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-14.jpg" data-toggle="lightbox" class="thumbnail" data-title="human fruit machine in full effect!" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-14-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-15.jpg" data-toggle="lightbox" class="thumbnail" data-title="...and here's what you could have won!" data-gallery="multiimages2">
                            <img src="img/thumb/pitp2013-15-thumb.jpg" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-3 bpad">
                        <a href="img/gallery/2013/pitp2013-16.jpg" data-toggle="lightbox" class="thumbnail" data-title="accoustic stage performer 2" data-gallery="multiimages2" data-parent=".wrapper-parent">
                            <img src="img/thumb/pitp2013-16-thumb.jpg" class="img-responsive">
                        </a>
                    </div>


                </div>
            </div>
            <div class="col-sm-4 sidebar">
                <hr class="borback" />
                <p>
                    Two thousand people enjoyed a day of free entertainment at Party in the Park, a community
                    and music festival in Fordham Park, Deptford. Despite rain on the day, the event attracted lots of families who were able to
                    take part in zumba taster sessions, listen to a range of music, spoken word and poetry performers and watch street and
                    dance demonstrations.
                </p>
                <p>
                    There were 25 local bands and singers who entertained the crowds with music from disco to reggae, punk rock to soul and folk. As well as the music there were DJs, a crew from New Cross fire station who gave some demonstrations , police horses from the Mets mounted police division, a performance of Caribbean dance, a beer tent, bookstall arts and crafts stalls, food, a barbeque, hula hoop demonstrations and activities for children.
                    All in all, the festival shows what can happen when people from the community come together to volunteer their time with the help of local based organisations. We are currently organising this year’s Party in the Park and are looking for both volunteers and sponsorship.
                </p>
                <p>
                    Local press coverage heralded the day as hugely successful. As part of the build up to this year’s festival we will be heavily promoting the event. To help with sponsorship please visit our <a href='@Url.Action("sponsors", "PITP")'>sposorship page</a> or if you want to contact the events organisers, please use or <a href='@Url.Action("contact", "PITP")'>contact form</a>
                    .
            </div>
        </div>
    </div>

<!-- End Intro Text -->

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>   
@section scripts{
<script src="~/js/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function (direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });

            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });

            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {

                        var a = this.modal_content.find('.modal-footer a');
                        if (a.length > 0) {

                            a.click(function (e) {

                                e.preventDefault();
                                this.navigateTo(2);

                            }.bind(this));

                        }

                    }
                });
            });


        });
        </script>
    }