@{
    ViewBag.Title = "year2016";
}

@section AddToHead{
    <link href="@Url.Content("~/css/ekko-lightbox.min.css")" rel="stylesheet" type="text/css" />
}
@section BodyClass {
bodyblue
}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div>
            <a class="navbar-brand" href='.'>

            </a>
        </div>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "PITP")</li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                    <li>@Html.ActionLink("2016", "year2016", "PITP")</li>
                </ul>
            </li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle py" data-toggle="dropdown">Previous Years &nbsp;&nbsp;<b class="caret"></b></a>
                <ul class="dropdown-menu pyu">
                    <li class="active">@Html.ActionLink("2016", "year2016", "PITP")</li>
                    <li>@Html.ActionLink("2014", "year2014", "PITP")</li>
                    <li>@Html.ActionLink("2013", "year2013", "PITP")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
                <ul class="dropdown-menu">

                    <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                    <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                </ul>
            </li>
            <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
            <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
            <li>@Html.ActionLink("Contact", "contact", "PITP")</li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.facebook.com/PitpInthepark/">Facebook</a></li>
                    <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container nfit">
    <div class="col-xs-12 col-md-5 col-md-offset-1 nointro">
        <img src="~/img/agm/pitp2016.png" alt="party in the park 2016" class="img-responsive" id="hointrohead" />
        <p>Party in the Park held in 2016 was the group’s largest festival to date despite enduring some poor weather.</p>
        <p>Five different stages provided a wide ranging assortment of live music and performance. The community was regaled with mix of live rock, reggae, and punk performances, and treated 
        to the latest innovative techno and drum and bass sounds. We are about audience participation – whether helping out in site decoration in the lead up to the festival or involvement 
        in arts and craft workshops on the day.</p>
        <p>In supporting and providing a platform for local community issues, “Tent City” sought to highlight housing concerns that threaten the community. An awareness raising hub, Tent City 
        brought housing activists and residents together to address issues relating to gentrification and social cleansing.</p>
        <p>The 'Albany' and 'Circulate' brought 'BLOCK' a show by 'No Fit State Circus' and Motionhouse to the festival. The crowds loved the outdoor circus spectacular!</p>
        <p>Everyone had a great day, despite some rain. With a wide variety of food and drink, bric-a-brac and merchandise, festival-goers were able to enjoy refreshments throughout the course 
        of the day. Our friendly stewards were on hand to keep things going smoothly and to plan. In their volunteer role, the stewards helped ensure that everyone experienced a safe, secure and jolly day out.</p>
    </div>
</div>

<div class="intro-block7">
    <div class="container gal-container">
        <div class="row stensmall">
            <div class="col-xs-12" style="margin-bottom:1em;">
                <p><span class="yell">party in the park</span> is an event organised by various</p>
                <p>community groups in the area around <span class="yell">fordham park</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8862.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img1"><img src="~/img/agm/thumbs/IMG_8862.jpg" /></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-8 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8827.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img2"><img src="~/img/agm/thumbs/IMG_8827.jpg"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8770.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img3"><img src="~/img/agm/thumbs/IMG_8770.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_9073.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img4"><img src="~/img/agm/thumbs/IMG_9073.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_9109.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img5"><img src="~/img/agm/thumbs/IMG_9109.jpg"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8892.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img6"><img src="~/img/agm/thumbs/IMG_8892.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8751.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img7"><img src="~/img/agm/thumbs/IMG_8751.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8950.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img8"><img src="~/img/agm/thumbs/IMG_8950.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8881.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img9"><img src="~/img/agm/thumbs/IMG_8881.jpg"></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 gal-item">
                <div class="box">
                    <a href="~/img/agm/full/IMG_8878.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Party in the Park 2016 img10"><img src="~/img/agm/thumbs/IMG_8878.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro-block8 backgrey">
    <div class="container intro-block9 bigt">
        <img src="~/img/agm/organisers.png" alt="organisers and sponsers" class="img-responsive"/>
        <p>Building upon the success of the festival in 2016, Party in the Park wish to host an even better event in 2018. With the continued support of Lewisham Council we intend to apply for a 
        Premises license for next year’s summer festival. Though we have held a number of fundraisers in the past, the summer festivals we’ve held have been possible as a result of sponsorship 
        from organisations and businesses from the local community. We wish to build upon these relationships whilst also forging new links within the community.</p>
        <p class="sten"><span class="bl">see our <a href='@Url.Action("sponsors", "PITP")'>sponsors</a> page for details on how you can help for 2018</span></p>

        <div class="col-xs-12 col-md-12 col-lg-12 mb">
                <div class="col-xs-12 org">special thanks to 2016 Festival organisers</div>
                <div class="col-xs-3"><a href="https://newxlearning.org/" title="new x learning"><img src="~/img/agm/nxl.png" alt="new cross learning" class="img-responsive" /></a></div>
                <div class="col-xs-3"><a href="http://www.reknaw.com/" title="reknaw"><img src="~/img/agm/reknaw.png" alt="reknar" class="img-responsive" /></a></div>
                <div class="col-xs-3"><img src="~/img/agm/siren.png" alt="siren" class="img-responsive" /></div>
                <div class="col-xs-3"><img src="~/img/agm/madcap.png" alt="madcap" class="img-responsive" /></div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12 mb">
            <div class="col-xs-12 org">extra special thanks to 2016 festival sponsors</div>
            <div class="col-xs-2 "><a href="http://www.thebirdsnestpub.com/" title="The Birds Nest pub"><img src="~/img/agm/thebirdsnest.png" alt="the Birds Nest" class="img-responsive" /></a></div>
            <div class="col-xs-2 col-xs-offset-1"><a href="http://threeboroughs.co.uk" title="reknaw"><img src="~/img/agm/3bs.png" alt="Three Boroughs Housing Co-op" class="img-responsive" /></a></div>
            <div class="col-xs-2 col-xs-offset-1"><a href="https://www.pinnaclepsg.co.uk/" title="pinnacle PSG"><img src="~/img/agm/pin.png" alt="Pinnacle PSG" class="img-responsive" /></a></div>
            <div class="col-xs-2 "><a href="https://www.lewisham.gov.uk/pages/default.aspx" title="Lewisham council"><img src="~/img/agm/lewisham.png" alt="Lewisham council" class="img-responsive" /></a></div>
            <div class="col-xs-2 "><a href="http://brockleybrewery.co.uk/home/" title="Brockley Brewery"><img src="~/img/agm/brockley.png" alt="brockley Brewery" class="img-responsive" /></a></div>
        </div>

    </div>
        <div class="container financials" id="home">
            <div class="row finan-yell">
                <div class="col-xs-10">
                    <h1 class="sten pull-right">get involved</h1>
                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </div>
        <div class="container intro-block9 bigt">
            <div class="col-xs-12 col-md-5">
                <p>
                    <span class="text-muted3">All PITPNXD meetings are public so please get involved!</span><br />
                    With your help and active participation in the planning now and co-ordination support on the day we will again enjoy a successful and fun experience for all attending.
                </p>

                <p>
                    <span class="text-muted3">What is a Party in the Park?</span><br />
                    Lets agree to get together and celebrate our public parks, mix with all people in the neighbourhood to share entertainment and information about our lives, eat and drink together
                    in a safe and inclusive environment, experiencing the fun and excitement of a party.
                </p>
                <p>
                    <span class="text-muted3">A thanks those who have made the event possible up until now</span><br />
                    The Party in the Park New Cross and Deptford can only take place with you running it. In 2016 and 2014 before, many dedicated local groups and inspiring individuals
                    devoted time and energy in preparation and co-ordination, during the construction, promotion and clearup of the park. Special thanks to the many volunteers and supporters of the event
                    who helped finance, monitor and steward on the day. All those who contributed to the crowd funding initiative and helped stage the entertainments made it all possible.
                </p>
                <p><a href="~/img/agm/AGM-report.pdf">Download AGM Report - AGM-report.pdf</a></p>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <p>
                    <span class="text-muted3">A report on how costs are covered</span><br />
                    It’s time to consider how best to provide for the expenses of the pitpnxd in 2018. We raised £12k last year by holding fundraising events, appealing to the ‘crowd’ for cash, a
                    stage bar merchandising revenue (t-shirts, program, badges) and catering concessions all contributed.
                </p>
                <p>
                    This year we carry forward the float of £500 from previous events to cover licenses and promotion costs in the lead up to the party where the costs accumulate. Staging
                    and power are the greatest costs despite much donated equipment and time. They also present the toughest logistical tasks to co-ordinate build and strike. We all need feeding
                    whilst working, thats the least we can offer each other and which suits the food concessions as they get their stalls discounted per plate on the day.
                </p>
                <p>
                    <span class="text-muted3">Suggestions for what is needed to hold the event again</span><br />
                    A the risk of repeating the message ‘everyone get involved’ and list your preferences. Uplift the spirit of enthusiasm
                    and enjoyment for public celebration and community life. Time to get a sense of purpose for who else will be interested and how to get involved yourself. Discover how
                    to hold a party in the park and taste the fun of collaboration in meeting other local people working for creative and memorable experience. Lets all meet together again with
                    this shared aim to host a PITPNXD in 2018.
                </p>     
            </div>

            <div class="col-xs-12 col-md-6 tabbal">
                <h1 class="sten">balance sheet</h1>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th colspan="2" class="stensmall "><span class="yell">income: total = £9487</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Sponsorship</td>
                            <td>£3000</td>
                        </tr>
                        <tr>
                            <td>Fundraising</td>
                            <td>£4926</td>
                        </tr>
                        <tr>
                            <td>merchandise, programme, etc</td>
                            <td>£600</td>
                        </tr>
                        <tr>
                            <td>catering concessions</td>
                            <td>£360</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th colspan="2" class="stensmall "><span class="yell">outgoings:total = £9401</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>cost of merchandise sales</td>
                            <td>£400</td>
                        </tr>
                        <tr>
                            <td>marketing & print</td>
                            <td>£1343</td>
                        </tr>
                        <tr>
                            <td>staging and production costs</td>
                            <td>£3420</td>
                        </tr>
                        <tr>
                            <td>catering</td>
                            <td>£936</td>
                        </tr>
                        <tr>
                            <td>security</td>
                            <td>£1470</td>
                        </tr>
                        <tr>
                            <td>toilets/fencing etc</td>
                            <td>£1832</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table tabbalwh">
                    <thead>
                        <tr>
                            <th colspan="2" class="stensmall "><span class="yell">balance at bank: £601*</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>*Does not include costings for holding AGM</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-xs-12 col-md-6">
                <img src="~/img/agm/collection.jpg" class="img-responsive pull-right" />
            </div>
        </div>
    </div>

<div class="intro-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
            <div class="col-sm-2">
                <img src="~/img/Lb_lewisham_logo.png" class="img-responsive" alt="Lewisham council logo" />
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>
</div>


@section scripts{
    <script src="~/js/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function (direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });

            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });

            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {

                        var a = this.modal_content.find('.modal-footer a');
                        if (a.length > 0) {

                            a.click(function (e) {

                                e.preventDefault();
                                this.navigateTo(2);

                            }.bind(this));

                        }

                    }
                });
            });


        });
    </script>
}



