@{
    ViewBag.Title = "2014";
}
@section AddToHead{
    <link href="@Url.Content("~/css/ekko-lightbox.min.css")" rel="stylesheet" type="text/css" />
}
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href='.'>
                        <img src="img/header-logo.png" class="img-responsive" alt="header logo" />
                    </a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "PITP")</li>
                    <li class="active">@Html.ActionLink("2014", "year2014", "PITP")</li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("About Us", "about-us", "PITP")</li>
                        <li>@Html.ActionLink("Origins", "origins", "PITP")</li>
                        </ul>
                </li>
                    <li>
                         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
                    <ul class="dropdown-menu">                        

                        
                        <li>@Html.ActionLink("Up And Coming...", "upandcoming", "PITP")</li>
                        <li>@Html.ActionLink("pastevents", "pastevents", "PITP")</li>
                        </ul>
                        </li>
                    <li>@Html.ActionLink("Sponsors", "sponsors", "PITP")</li>
                    <li>@Html.ActionLink("Volunteer", "volunteer", "PITP")</li>
                    <li>@Html.ActionLink("Contact", "contact", "PITP")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://www.facebook.com/profile.php?id=100005402296847">Facebook</a></li>
                            <li><a href="https://twitter.com/pitpnxd">Twitter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
       
<div class="intro-block2">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <img class="img-responsive tpad" src="img/icon2013.png">
            </div>
            <div class="col-xs-9">
                <h1>Party in the Park <span class="text-muted qback">&raquo; 2014</span></h1>
                <p class="lead">For 2014's Party in the Park we had six different stages show casing many great performers. Check out some photo’s from the day in our image gallary (click on the images), and the <a href="#band">band</a> line up by stage below.</p>
            </div>
        </div>

<div class="row">
        <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/pitp1.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="Setting up the site!" class="thumbnail">
                <img src="img/thumb/pitp-thumb1.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/271.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="site workers" class="thumbnail">
                <img src="img/thumb/271-thumb.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/site-decor.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="site decor 1" class="thumbnail">
                <img src="img/thumb/site-decor-thumb.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/dragon.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="dragon decoration" class="thumbnail">
                <img src="img/thumb/dragon-thumb.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/cake.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="I want my cake..." data-footer="and I want to eat it!" class="thumbnail">
                <img src="img/thumb/cake-thumb.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face13.jpg" data-toggle="lightbox" data-gallery="multiimages" data-title="site decor bunting" class="thumbnail">
                <img src="img/thumb/face13-thumb.jpg" class="img-responsive">
            </a>
        </div>
        <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/site-decor2.jpg" data-toggle="lightbox" class="thumbnail" data-title="site decor 3" data-gallery="multiimages">
                <img src="img/thumb/site-decor-thumb2.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face33.jpg" data-toggle="lightbox" class="thumbnail" data-title="Party in the Park banner " data-gallery="multiimages">
                <img src="img/thumb/face33-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face14.jpg" data-toggle="lightbox" class="thumbnail" data-title="looks a bit fishy to me!" data-gallery="multiimages">
                <img src="img/thumb/face14-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/bike.jpg" data-toggle="lightbox" class="thumbnail" data-title="On your bikes!" data-gallery="multiimages">
                <img src="img/thumb/bike-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face16.jpg" data-toggle="lightbox" class="thumbnail" data-title="Is it a bike?" data-footer="of horse not!" data-gallery="multiimages">
                <img src="img/thumb/face16-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face17.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 1" data-gallery="multiimages">
                <img src="img/thumb/face17-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face18.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 2" data-gallery="multiimages">
                <img src="img/thumb/face18-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face19.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 3" data-gallery="multiimages">
                <img src="img/thumb/face19-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face20.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 4" data-gallery="multiimages">
                <img src="img/thumb/face20-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face21.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 5" data-gallery="multiimages">
                <img src="img/thumb/face21-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face22.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 6" data-gallery="multiimages">
                <img src="img/thumb/face22-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face23.jpg" data-toggle="lightbox" class="thumbnail" data-title="flower power 7" data-gallery="multiimages">
                <img src="img/thumb/face23-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face25.jpg" data-toggle="lightbox" class="thumbnail" data-title="face painting fun 1" data-gallery="multiimages">
                <img src="img/thumb/face25-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face10.jpg" data-toggle="lightbox" class="thumbnail" data-title="face painting fun 2" data-gallery="multiimages">
                <img src="img/thumb/face10-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face11.jpg" data-toggle="lightbox" class="thumbnail" data-title="face painting fun 3" data-gallery="multiimages">
                <img src="img/thumb/face11-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face12.jpg" data-toggle="lightbox" class="thumbnail" data-title="face painting fun 4" data-gallery="multiimages">
                <img src="img/thumb/face12-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/apitp_kids.jpg" data-toggle="lightbox" class="thumbnail" data-title="Lennox Project 1" data-gallery="multiimages">
                <img src="img/thumb/apitp_kids-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/apitp_kids2.jpg" data-toggle="lightbox" class="thumbnail" data-title="Lennox Project 2" data-gallery="multiimages">
                <img src="img/thumb/apitp_kids2-thumb.jpg" class="img-responsive">
            </a>
        </div>
     <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/apitp_ladylute.jpg" data-toggle="lightbox" class="thumbnail" data-title="Luter's on the loose!" data-gallery="multiimages">
                <img src="img/thumb/apitp_ladylute-thumb.jpg" class="img-responsive">
            </a>
        </div>
     <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face27.jpg" data-toggle="lightbox" class="thumbnail" data-title="Donations & Key rings" data-gallery="multiimages">
                <img src="img/thumb/face27-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face29.jpg" data-toggle="lightbox" class="thumbnail" data-title="A Party in the Park Organiser" data-gallery="multiimages">
                <img src="img/thumb/face29-thumb.jpg" class="img-responsive">
            </a>
        </div>
    <div class="col-sm-6 col-md-3 bpad">
            <a href="img/gallery/2014/face31.jpg" data-toggle="lightbox" class="thumbnail" data-title="The Host with the most..." data-gallery="multiimages">
                <img src="img/thumb/face31-thumb.jpg" class="img-responsive">
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/440.jpg" data-toggle="lightbox" class="thumbnail" data-title="Clowning around" data-gallery="multiimages">
            <img src="img/thumb/440-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/338.jpg" data-toggle="lightbox" class="thumbnail" data-title="Peoples 1" data-gallery="multiimages">
            <img src="img/thumb/338-thumb.jpg" class="img-responsive">
        </a>
    </div>
     <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/343.jpg" data-toggle="lightbox" class="thumbnail" data-title="Peoples 3" data-gallery="multiimages">
            <img src="img/thumb/343-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/351.jpg" data-toggle="lightbox" class="thumbnail" data-title="Peoples 4" data-gallery="multiimages">
            <img src="img/thumb/351-thumb.jpg" class="img-responsive">
        </a>
    </div>
 <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/390.jpg" data-toggle="lightbox" class="thumbnail" data-title="Peoples 5" data-gallery="multiimages">
            <img src="img/thumb/390-thumb.jpg" class="img-responsive">
        </a>
    </div>
  <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/folly.jpg" data-toggle="lightbox" class="thumbnail" data-title="Festival folly" data-gallery="multiimages">
            <img src="img/thumb/folly-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face4.jpg" data-toggle="lightbox" class="thumbnail" data-title="Siren souns" data-gallery="multiimages">
            <img src="img/thumb/face4-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face5.jpg" data-toggle="lightbox" class="thumbnail" data-title="Pancakes, wraps & cakes!" data-gallery="multiimages">
            <img src="img/thumb/face5-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face6.jpg" data-toggle="lightbox" class="thumbnail" data-title="Reknaw sounds" data-gallery="multiimages">
            <img src="img/thumb/face6-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face7.jpg" data-toggle="lightbox" class="thumbnail" data-title="Reknaw live" data-gallery="multiimages">
            <img src="img/thumb/face7-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face8.jpg" data-toggle="lightbox" class="thumbnail" data-title="The Other stage" data-gallery="multiimages">
            <img src="img/thumb/face8-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face15.jpg" data-toggle="lightbox" class="thumbnail" data-title="A stall at PITP 2014!" data-gallery="multiimages">
            <img src="img/thumb/face15-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face26.jpg" data-toggle="lightbox" class="thumbnail" data-title="Live sounds on the Other stage" data-gallery="multiimages">
            <img src="img/thumb/face26-thumb.jpg" class="img-responsive">
        </a>
    </div>
     <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face34.jpg" data-toggle="lightbox" class="thumbnail" data-title="A youong performer at PITP 2014!" data-gallery="multiimages">
            <img src="img/thumb/face34-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face35.jpg" data-toggle="lightbox" class="thumbnail" data-title="Live @@PITP 2014!" data-gallery="multiimages">
            <img src="img/thumb/face35-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/face36.jpg" data-toggle="lightbox" class="thumbnail" data-title="Live @@PITP 2014!" data-gallery="multiimages">
            <img src="img/thumb/face36-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/pitp2014-38.jpg" data-toggle="lightbox" class="thumbnail" data-title="Party in the Park crowd" data-gallery="multiimages">
            <img src="img/thumb/pitp2014-38-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/pitp2014-39.jpg" data-toggle="lightbox" class="thumbnail" data-title="working the crowd at PITP 2014" data-gallery="multiimages">
            <img src="img/thumb/pitp2014-39-thumb.jpg" class="img-responsive">
        </a>
    </div>
    <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/pitp2014-40.jpg" data-toggle="lightbox" class="thumbnail" data-title="eating on the hoof..." data-gallery="multiimages">
            <img src="img/thumb/pitp2014-40-thumb.jpg" class="img-responsive">
        </a>
    </div>
        <div class="col-sm-6 col-md-3 bpad">
        <a href="img/gallery/2014/pitp2014-42.jpg" data-toggle="lightbox" class="thumbnail" data-title="After the clean up" data-gallery="multiimages" data-footer="Thanks for to everyone who helped clear up!">
            <img src="img/thumb/pitp2014-42-thumb.jpg" class="img-responsive">
        </a>
    </div>
    </div>
</div>
<!-- End Intro Text -->

    <div class="container" id="band">
        <div class="row">
        <div class="col-sm-12">
            <h2>2014 Band line up <span style="font-size:40%">(click on the stage name to see the days band line up)</span></h2>
            <hr class="style-one">
            
        </div>
    </div> 

<div class="bands">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 tabbable">
                <!-- Tabs go here -->
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#android" data-toggle="tab">The Birds Nest Festival Folly Stage</a></li>
                    <li><a href="#bb" data-toggle="tab">The Other Stage</a></li>
                    <li><a href="#ios" data-toggle="tab">The New X Inn/ Speakasy Stage</a></li>
                    <li><a href="#win" data-toggle="tab">The Madcap Community Stage</a></li>
                    <li><a href="#siren" data-toggle="tab">Siren Sound</a></li>
                    <li><a href="#rek" data-toggle="tab">Reknaw</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="android">
                       <ul class="list-unstyled tabup">
                           <li>1:00 – Boss Terror</li>
                           <li>1.45 – First</li>
                           <li>2.30 – The Conformists</li>
                           <li>3.15 – Eddie Capone & The Warriors</li>
                           <li>4.00 – Black Seas</li>
                           <li>4.45 – No One You Know</li>
                           <li>5.30 – Rhiannon The Nightmare</li>
                           <li>6.15 – Parshmaune</li>
                           <li>7.00 – Kill Raimis</li>
                           <li>7.45 – My Bad Sister</li>
                       </ul></div>
                    <div class="tab-pane fade in" id="bb">
                        <ul class="list-unstyled tabup">
                           <li>1:00 – The Rev. Casey</li>
                           <li>1.45 – 37 North & Jazzman John</li>
                           <li>2.30 – Oscar</li>
                           <li>3.15 – Isa Suarez </li>
                           <li>4.00 – Hank Dog</li>
                           <li>4.45 – Dirty Viv</li>
                           <li>5.30 – Ras Keith</li>
                           <li>6.15 – Zara</li>
                           <li>7.00 – Barberella</li>
                        </ul></div>
                    <div class="tab-pane fade in" id="ios">
                        <ul class="list-unstyled tabup">
                           <li>1:00 – Becky Gowans</li>
                           <li>1.45 – Mathew Bierrum</li>
                           <li>2.30 – Ukadelix</li>
                           <li>3.15 – Stolen</li>
                           <li>4.00 – Lady Lovely Lute</li>
                           <li>4.45 – Son of Psychoyogi</li>
                           <li>5.30 – Bandoke</li>
                           <li>6.15 – Ceri James</li>
                           <li>7.00 – We Happy Few</li>
                           <li>7.00 – Maggie and Lucy Lyrical</li>
                       </ul>
                      </div>
                    <div class="tab-pane fade in" id="win">
                        <ul class="list-unstyled tabup">
                           <li>1.45 – Zumba Workshop</li>
                           <li>2.30 – Wala Wubeeda – African D & D performance & work shop</li>
                           <li>3.15 – Januka Quadrille</li>
                           <li>6.15 – Magna Carta play  </li>
                        </ul>
                  </div>
                    <div class="tab-pane fade in" id="siren">
                        <ul class="list-unstyled tabup">
                           <li>1:00 – Kev Siren</li>
                           <li>1.20 – Special Guests</li>
                           <li>2.00 – Serif Rat</li>
                           <li>2.30 – Oracey & the Shop Floor Sessions Crew</li>
                           <li>3.15 – Repeat</li>
                           <li>4.00 – Step 13</li>
                           <li>5.00 – Moomin hunter</li>
                           <li>6.00 – Back to The Planet</li>
                           <li>7.00 – Hugh Jah Fink</li>
                           <li>8.00 - Orda and alive</li>
                           <li>9.00 - Later Siren Cinema</li>
                            </ul>
                        </div>
                    <div class="tab-pane fade in" id="rek">
                        <ul class="list-unstyled tabup">
                           <li>1:00 – The Skraelings</li>
                           <li>1.50 – Rags Rudi</li>
                           <li>2.40 – Jakal</li>
                           <li>3.30 – Shocks of Mighty</li>
                           <li>4.20 – Czapa</li>
                           <li>5.40 – Damidge</li>
                           <li>6.30 – Blurt</li>
                           <li>7.20 – Coitus</li>
                           <li>8.20 – Head Jam</li>
                         </ul>
                        </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="intro-block"">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 tabbable">
                <blockquote>
                    <p>&ldquo;In its day, Urban Festival was the alternative Glastonbury. This party is being organised by local people for local people and it’s also a celebration of local talent – the musicians and artists you’ll be reading about next year. And unlike so many festivals today it’s absolutely free.&rdquo;</p>
                    <small class="qback">Kathy Dunbar, <cite title="source title">New Cross Learning, Chair </cite></small>
                </blockquote>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <!-- Quote go here -->
                <blockquote>
                    <p>&ldquo;We think the Party in the Park embodies the spirit of New Cross: this is a brilliant community and people have come together to volunteer their time and local organisations have sponsored the party..&rdquo;</p>
                    <small class="qback">R.McFarlane</small>
                </blockquote>
            </div>
        </div>
        <div class="col-sm-6 tabbable wd">website developed by - <a href="mailto:derm.finn@gmail.com">derm.finn@gmail.com</a></div>
    </div>       
</div>
@section scripts{
<script src="~/js/ekko-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            // delegate calls to data-toggle="lightbox"
            $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {
                        if (window.console) {
                            return console.log('Checking our the events huh?');
                        }
                    },
                    onNavigate: function (direction, itemIndex) {
                        if (window.console) {
                            return console.log('Navigating ' + direction + '. Current item: ' + itemIndex);
                        }
                    }
                });
            });

            //Programatically call
            $('#open-image').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });
            $('#open-youtube').click(function (e) {
                e.preventDefault();
                $(this).ekkoLightbox();
            });

            // navigateTo
            $(document).delegate('*[data-gallery="navigateTo"]', 'click', function (event) {
                event.preventDefault();
                return $(this).ekkoLightbox({
                    onShown: function () {

                        var a = this.modal_content.find('.modal-footer a');
                        if (a.length > 0) {

                            a.click(function (e) {

                                e.preventDefault();
                                this.navigateTo(2);

                            }.bind(this));

                        }

                    }
                });
            });


        });
        </script>
    }